<%= tutorial_progress_bar %>
<h2>Choisissez votre avatar</h2>

<%= form_for(resource, as: resource_name, url: wizard_path, html: { method: :put }) do |f| %>
  <div class="field" id="avatar_select">
    <% resource.crop_x=0 %>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>