<%= tutorial_progress_bar %>
<h1>Mes informations bancaires</h1>
<%= form_for @user, as: :user, url: wizard_path, method: :put do |f| %>
    
    <%= fields_for :address do |address_fields| %>
      <div class="field">
        <%= f.label :street %><br/>
        <%= address_fields.text_field :AddressLine1, :value => @user.address['AddressLine1'] %>
      </div>
      <div class="field">
        <%= f.label :number %><br/>
        <%= address_fields.text_field :AddressLine2, :value => @user.address['AddressLine2'] %>
      </div>
      <div class="field">
        <%= f.label :post_code %><br/>
        <%= address_fields.text_field :PostalCode, :value => @user.address['PostalCode'] %>
      </div>
      <div class="field">
        <%= f.label :city %><br/>
        <%= address_fields.text_field :City, :value => @user.address['City'] %>
      </div>
      <div class="field">
        <%= f.label :region %><br/>
        <%= address_fields.text_field :Region, :value => @user.address['Region'] %>
      </div>
      <div class="field">
        <%= f.label :Country %><br/>
        <%= address_fields.select :Country, options_for_select(@list, :selected => @user.address['Country']) %>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :country_of_residence %><br/>
      <%= f.select :countryOfResidence, options_for_select(@list, :selected => @user.countryOfResidence) %>
    </div>

    <div class="field">
      <%= f.label :Nationality %><br/>
      <%= f.select :nationality, options_for_select(@list, selected: @user.nationality) %>
    </div>
    
    <hr>
    <% if(!@user.bank_accounts || @user.bank_accounts.empty?) %>
      <%= render( :partial => '/mangopay/bank_accounts/new' ) %>
    <% else %>
      <h4> Vos comptes en banque: </h4>
      <% @user.bank_accounts.each do |bank_account| %>
        <% if bank_account['Type'] == 'IBAN' %>
          <b>Type: </b>IBAN<br />
          <b>Numéro: </b> <%= bank_account['IBAN'] %><br />
        <% else %>
          <b>Type: </b><%= bank_account['Type'] %><br />
          <b>Numéro: </b><%= bank_account['AccountNumber'] %><br />    
        <% end %>
        <b>Owner: </b><%= bank_account['OwnerName'] %>
        <br /><br />
      <% end %>
      <br /><button id="addBankAcountButton" class="btn btn-default" type="button">Ajouter un compte en banque</button>
      <div id="addBankAccount" hidden>
        <%= render( :partial => '/mangopay/bank_accounts/new' ) %>
      </div>
    <% end %>
    <hr>
    <div class="field">
      <%= f.submit :terminer, :class => 'btn btn-primary btn-mini' %><br/>
    </div>
<% end %>
