= tutorial_progress_bar

= form_for @user, as: :user, url: wizard_path, method: :put do |f|
  .field
    = f.label :lastname
    %br/
    = f.text_field :lastname, :required => true
  .field
    = f.label :firstname
    %br/
    = f.text_field :firstname, :required => true
  .field
    = f.label :birthdate
    %br/
    = f.text_field :birthdate, :data => {:provide => "datepicker", 'date-format' => 'yyyy-mm-dd'}, :required => true
  .field
    = f.label :description
    %br/
    = f.text_area :description, :required => true
  .field
    = f.label :gender
    %br/
    = f.select :gender, User::GENDER_TYPES, :required => true
  .field
    = f.label :phonenumber
    %br/
    = f.telephone_field :phonenumber, :required => true
  .field
    = f.label :email
    %br/
    = f.email_field :email, :required => true
  - if devise_mapping.confirmable? && @user.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{@user.unconfirmed_email}
  = f.submit "Mon profil est complet!", class: 'end'
