<%= tutorial_progress_bar %>
<h1>Ajouter des Images</h1>

<% @gallery.pictures.each do |picture| %>
    <% if can? :read, @gallery %>
        <%= image_tag picture.image.url(:thumb) %>
    <% end %>
<% end %>
<% if can? :update, @gallery %>

    <%= form_for @gallery, url: wizard_path, :html => {:class => 'form-horizontal', multipart: true, method: :put} do |f| %>

        <div class="control-group">
          <%= f.label :pictures, :class => 'control-label' %>
          <div class="controls">
            <%= file_field_tag "images[]", type: :file, multiple: true %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit :continuer, :class => 'btn btn-primary' %>
        </div>
    <% end %>
<% end %>