= form_for advert_advert_price_path, html: {method: :put} do |f|
  .field
    = f.label :level_id
    %br/
    - levels = Level.select('distinct(' + I18n.locale[0..3] + '), id,' + I18n.locale[0..3] + '').where(:code => "scolaire").group(I18n.locale[0..3]).order(:id)
    = f.select :level_id, levels.all.collect { |p| [p[I18n.locale[0..3]], p.id] }, id: 'prix'
  .field
    = f.label :price
    %br/
    = f.text_field :price
  .actions
    = f.submit "Update"
:javascript
  var val = document.getElementById("advert_advert_prices_attributes_1_id").val;
  
  if (val < 0) {
    alert ("Vous avez entrer un prix inférieur à 0€");
  }
