%li{:class => "#{message.sender == current_user ? "self" : "other"}"}
  .avatar
    = image_tag(message.sender.avatar.url(:small))
  .chatboxmessagecontent
    %p= message.body
    %time{:datetime => "#{message.created_at}", :title => "#{message.created_at.strftime("%d %b  %Y at %I:%M%p")}"}
