%h1
  Edit #{BigbluebuttonServer.model_name.human}:
= form_for @server, :url => admin_bigbluebutton_server_path(@server) do |f|
  - if @server.errors.any?
    #error_explanation
      %h2
        = pluralize(@server.errors.count, "error")
        \:
      %ul
        - @server.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :id
    %br/
    = @server.id
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :url
    %br/
    = f.text_field :url
  .field
    = f.label :salt
    %br/
    = f.text_field :salt
  .field
    = f.label :version
    %br/
    = f.text_field :version, :disabled => true
  .field
    = f.label :param
    %br/
    = f.text_field :param
  .actions
    = f.submit
= link_to 'Show', admin_bigbluebutton_server_path(@server)
|
= link_to 'Back', admin_bigbluebutton_servers_path
