= fields_for :ca_account do |bank_account_fields|
  .field
    = bank_account_fields.label :BankName
    %br/
    = bank_account_fields.text_field :BankName, :value => bank_account['BankName'],:require => true
  .field
    = bank_account_fields.label :InstitutionNumber
    %br/
    = bank_account_fields.text_field :InstitutionNumber, :value => bank_account['InstitutionNumber'],:require => true
  .field
    = bank_account_fields.label :BranchCode
    %br/
    = bank_account_fields.text_field :BranchCode, :value => bank_account['BranchCode'],:require => true
  .field
    = bank_account_fields.label :AccountNumber
    %br/
    = bank_account_fields.number_field :AccountNumber, :value => bank_account['AccountNumber'],:require => true
  = bank_account_fields.hidden_field :Type, :value => bank_account['Type']
