= fields_for :ca_account, bank_account do |bank_account_fields|
  .field
    = bank_account_fields.label :bank_name
    %br/
    = bank_account_fields.text_field :bank_name,:require => true
  .field
    = bank_account_fields.label :institution_number
    %br/
    = bank_account_fields.text_field :institution_number,:require => true
  .field
    = bank_account_fields.label :branch_code
    %br/
    = bank_account_fields.text_field :branch_code,:require => true
  .field
    = bank_account_fields.label :account_number
    %br/
    = bank_account_fields.number_field :account_number,:require => true
