
<%= fields_for :bank_accounts do |bank_account_fields| %>
  <div class="field">
    <%= bank_account_fields.label :Number %><br/>
    <%= bank_account_fields.text_field :AccountNumber, :value => bank_account['AccountNumber'] %>
  </div>
  <div class="field">
    <%= bank_account_fields.label :SortCode %><br/>
    <%= bank_account_fields.text_field :SortCode, :value => bank_account['SortCode'] %>
  </div>
  <%= bank_account_fields.hidden_field :Type, :value => bank_account['Type'] %>
<% end %>