= fields_for :iban_account, bank_account do |bank_account_fields|
  .field
    = bank_account_fields.label :iban
    %br/
    = bank_account_fields.text_field :iban, :require => true
  .field
    = bank_account_fields.label :bic
    %br/
    = bank_account_fields.text_field :bic, :require => true
