<%= fields_for :bank_account do |bank_account_fields| %>
  <h4>Type de compte</h4>
  <%= bank_account_fields.radio_button(:Type, "iban", class: "bank_account_type") %>
  <%= label_tag(:type_iban, "IBAN") %>
  <%= bank_account_fields.radio_button(:Type, "gb", class: "bank_account_type") %>
  <%= label_tag(:type_gb, "Royaume Uni") %>
  <%= bank_account_fields.radio_button(:Type, "us", class: "bank_account_type") %>
  <%= label_tag(:type_us, "Etats Unis") %>
  <%= bank_account_fields.radio_button(:Type, "ca", class: "bank_account_type") %>
  <%= label_tag(:type_ca, "Canada") %>
  <%= bank_account_fields.radio_button(:Type, "other", class: "bank_account_type") %>
  <%= label_tag(:type_other, "Autre") %>
<% end %>
  <div id="bank_account_fields">
    <div id="account_iban" class="account_fields" hidden>
      <%= render( :partial => '/mangopay/bank_accounts/iban', :locals=>{:bank_account => {'Type'=>'IBAN'}} ) %>
    </div>
    <div id="account_gb" class="account_fields" hidden>
      <%= render( :partial => '/mangopay/bank_accounts/gb', :locals=>{:bank_account => {'Type'=>'GB'}} ) %>
    </div>
    <div id="account_us" class="account_fields" hidden>
      <%= render( :partial => '/mangopay/bank_accounts/us', :locals=>{:bank_account => {'Type'=>'US'}} ) %>
    </div>
    <div id="account_ca" class="account_fields" hidden>
      <%= render( :partial => '/mangopay/bank_accounts/ca', :locals=>{:bank_account => {'Type'=>'CA'}} ) %>
    </div>
    <div id="account_other" class="account_fields" hidden>
      <%= render( :partial => '/mangopay/bank_accounts/other', :locals=>{:bank_account => {'Type'=>'OTHER'}} ) %>
    </div>
  </div>