= fields_for :bank_account do |bank_account_fields|
  %h4 Type de compte
  = bank_account_fields.radio_button(:Type, "iban", class: "bank_account_type")
  = label_tag(:type_iban, "IBAN")
  = bank_account_fields.radio_button(:Type, "gb", class: "bank_account_type")
  = label_tag(:type_gb, "Royaume Uni")
  = bank_account_fields.radio_button(:Type, "us", class: "bank_account_type")
  = label_tag(:type_us, "Etats Unis")
  = bank_account_fields.radio_button(:Type, "ca", class: "bank_account_type")
  = label_tag(:type_ca, "Canada")
  = bank_account_fields.radio_button(:Type, "other", class: "bank_account_type")
  = label_tag(:type_other, "Autre")
#bank_account_fields
  #account_iban.account_fields{:hidden => ""}
    = render( :partial => '/mangopay/bank_accounts/iban', :locals=>{:bank_account => {'Type'=>'IBAN'}} )
  #account_gb.account_fields{:hidden => ""}
    = render( :partial => '/mangopay/bank_accounts/gb', :locals=>{:bank_account => {'Type'=>'GB'}} )
  #account_us.account_fields{:hidden => ""}
    = render( :partial => '/mangopay/bank_accounts/us', :locals=>{:bank_account => {'Type'=>'US'}} )
  #account_ca.account_fields{:hidden => ""}
    = render( :partial => '/mangopay/bank_accounts/ca', :locals=>{:bank_account => {'Type'=>'CA'}} )
  #account_other.account_fields{:hidden => ""}
    = render( :partial => '/mangopay/bank_accounts/other', :locals=>{:bank_account => {'Type'=>'OTHER'}} )
