= fields_for :other_account, bank_account do |bank_account_fields|
  .field
    = bank_account_fields.label :country
    %br/
    = bank_account_fields.text_field :country, :require => true
  .field
    = bank_account_fields.label :BIC
    %br/
    = bank_account_fields.text_field :bic, :require => true
  .field
    = bank_account_fields.label :account_number
    %br/
    = bank_account_fields.number_field :account_number, :require => true
