= fields_for :us_account do |bank_account_fields|
  .field
    = bank_account_fields.label :Number
    %br/
    = bank_account_fields.number_field :AccountNumber, :value => bank_account['AccountNumber'],:require => true
  .field
    = bank_account_fields.label :ABA
    %br/
    = bank_account_fields.number_field :ABA, :value => bank_account['ABA'],:require => true
  .field
    = bank_account_fields.label :DepositAccountType
    %br/
    = bank_account_fields.text_field :DepositAccountType, :value => bank_account['DepositAccountType'],:require => true
  = bank_account_fields.hidden_field :Type, :value => bank_account['Type']
