  <%= form_for @user, url: wizard_path, method: :put do |f| %>
    <div class="field">
      <%= f.label :lastname %><br/>
      <%= f.text_field :lastname %>
    </div>
    <div class="field">
      <%= f.label :firstname %><br/>
      <%= f.text_field :firstname %>
    </div>
    <div class="field">
      <%= f.label :birthdate %><br/>
      <%= f.text_field :birthdate, :data => {:provide => "datepicker", 'date-format' => 'yyyy-mm-dd'}  %>
    </div>
    <div class="field">
      <%= f.label :description %><br/>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :gender %><br/>
      <%= f.select :gender, User::GENDER_TYPES %>
    </div>

    <div class="field">
      <%= f.label :phonenumber %><br/>
      <%= f.text_field :phonenumber %>
    </div>
    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email %>
    </div>
    <% if devise_mapping.confirmable? && @user.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= @user.unconfirmed_email %></div>
    <% end %>
    <%= f.submit "Mon profil est complet!" %>
  <% end %>