= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f|
  = devise_error_messages!
  .form-group
    = f.label :current_password
    = f.password_field :current_password, autocomplete: "off"
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off" , data: {:validation => "length", 'validation-length' => "min8", "validation-error-msg" => "Trop court." }
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off", data: {:validation => "confirmation",'validation-confirm'=> 'user[password]', "validation-error-msg" => "Pas les mêmes." }
  .form-actions
    = f.submit "Envoyer", :class => "action submit"
    -#= link_to "Annuler", "#", :class => "action"