.backgroundEdit.edit_profile
  %h2
    Modifier votre compte #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f|
    = devise_error_messages!
    .containter.backgroundEdit
      =link_to "Informations personnelles", "#infos-perso" , :class => "title", data: {:target => "#infos-perso"}, :id => "title1"
      =link_to "Informations Scolaires", "#infos-scol" , :class => "title", data: {:toggle => "collapse", :target => "#infos-scol"}, :id => "title2"
      =link_to "Informations du compte", "#infos-compte" , :class => "title", data: {:toggle => "collapse", :target => "#infos-compte"}, :id => "title3"
      =link_to "Informations du compte", "#annonces" , :class => "title", data: {:toggle => "collapse", :target => "#annonces"}, :id => "title4"
      .colonne1.colonne.panel-collapse.in{:id => "infos-perso"}
        %h4 Informations personnelles
        .field
          = f.text_field :lastname, class: 'form-control', :placeholder => :Nom
        .field
          = f.text_field :firstname, class: 'form-control', :placeholder => :Prénom
        .field
          = f.text_field:birthdate, :data => {:provide => "datepicker", 'date-format' => 'yyyy-mm-dd', 'date-autoclose' => true, 'date-end-date' => "0d"}, :placeholder => :Date_de_Naissance
        .field
          = f.text_area :description, :class => 'ckeditor', :placeholder => :Présentation
        .field
          = f.select :gender, User::GENDER_TYPES, :placeholder => :Sexe
        %h3 Mes photos
        - @gallery=Gallery.where(:user => current_user).last
        = link_to "Gérer mes photos", gallery_path(@gallery),:class => "link opacity_hover"
        %br
        %br
        %br
        %br
      .colonne2.colonne.panel-collapse{:id => "infos-scol"}
        %h4 Informations Scolaire
        - if resource.type == "Student"
          #type.field
            = f.label :type
            = f.select :type, User::ACCOUNT_TYPES
        .field
          - levels = Level.select('distinct(' + I18n.locale[0..3] + '), id,' + I18n.locale[0..3] + '').where(:code => "scolaire").group(I18n.locale[0..3]).order(:id)
          = f.label :level_id
          = f.select :level_id, levels.all.collect { |p| [p[I18n.locale[0..3]], p.id] }
        / if teacher, cannot change account type anymore
        - if resource.type == "Teacher"
          .field
            = f.label :occupation
            = f.text_field :occupation
          .field
            = f.label :accepts_post_payments
            = f.check_box :accepts_post_payments
        %h4 Mes diplomes
        = link_to "Gérer mes diplomes", degrees_path, :class => "link opacity_hover"
        %br
        %br
        %br
        .field
          = f.label :Téléphone
          = f.text_field :phonenumber
          %br
          %br
          %br
      .colonne3.colonne.panel-collapse{:id => "infos-compte"}
        %h4 Informations du compte
        #avatar_select.field
          - resource.crop_x=0
          = f.label :avatar
          = f.file_field :avatar
        .actions
          = f.submit "Update", :class => "submit opactiy_hover"
          %br
          %br
          %br
      .case4.colonne.colonne4.panel-collapse{:id => "annonces"}
        %h3 Mes annonces
        = link_to "Gérer mes annonces", adverts_path, :class => "link opacity_hover"
        %br
        %br
        %br
        
/
  Utilité ?
  <h3>Cancel my account</h3>
  <p>Unhappy? <haml_loud> button_to &quot;Cancel my account&quot;, registration_path(resource_name), data: {confirm: &quot;Are you sure?&quot;}, method: :delete </haml_loud></p>
= link_to "Back", :back
:javascript
  $('.form-control').on('change', function () {
    $.validate();
    $.validate({
      modules: 'security'
    });
  });
