<div id="bbbrails_recordings_links">
  <%= link_to('View room list', bigbluebutton_rooms_path) %><br/>
</div>

<ul id="bbbrails_list">
  <% @recordings.each do |recording| %>
    <li><hr /></li>
    <li>
      <b>Cours: <%= BbbRoom.find(recording.room_id).lesson.id unless recording.room.nil? %></b>
      <div class="field"><b><%= BigbluebuttonRecording.human_attribute_name(:id) %>:</b> <%= recording.id %></div>
      <div class="field"><b><%= BigbluebuttonRecording.human_attribute_name(:recordid) %>:</b> <%= recording.recordid %></div>
      <div class="field"><b><%= BigbluebuttonRecording.human_attribute_name(:name) %>:</b> <%= recording.name %></div>
      <div class="field">
        <b><%= BigbluebuttonRecording.human_attribute_name(:room_id) %></b>: <%= recording.room_id %>
        <%= link_to('(view room)', bigbluebutton_room_path(recording.room)) unless recording.room.nil? %>
      </div>
      <div class="field">
        <b><%= BigbluebuttonRecording.human_attribute_name(:server_id) %></b>: <%= recording.server_id %>

      </div>
      <div class="field"><b><%= BigbluebuttonRecording.human_attribute_name(:meetingid) %>:</b> <%= recording.meetingid %></div>
      <div class="field"><b><%= BigbluebuttonRecording.human_attribute_name(:published) %>:</b> <%= recording.published %></div>
      <div class="field"><b><%= BigbluebuttonRecording.human_attribute_name(:available) %>:</b> <%= recording.available %></div>
      <div class="field"><b><%= BigbluebuttonRecording.human_attribute_name(:start_time) %>:</b> <%= recording.start_time %></div>
      <div class="field"><b><%= BigbluebuttonRecording.human_attribute_name(:end_time) %>:</b> <%= recording.end_time %></div>
      <div class="field"><b><%= BigbluebuttonRecording.human_attribute_name(:description) %>:</b> <%= recording.description %></div>
      <div class="field"><b><%= BigbluebuttonRecording.human_attribute_name(:size) %>:</b> <%= recording.size %></div>
      <div class="field"><b>Access</b>:
        <%= link_to 'Play', recording.playback_formats.last.url %>
      </div>
    </li>
  <% end %>
</ul>
