= form_tag wizard_path, method: :put do |f|
  = hidden_field_tag 'lesson[teacher_id]', @teacher
  #price
  .form-group
    = label_tag :time_start
    #datetimepicker2.input-group.date
      = text_field_tag 'lesson[time_start]', nil, class: 'form-control', :required => true
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
  .form-group
    = hidden_field_tag 'lesson[time_end]'
  .form-group
    = label_tag 'Durée'
    = select_hour 1, :field_name => 'lesson[hour]', :start_hour => 0, :end_hour => 5, class: 'form-control', :required => true
    = select_minute 30, :field_name => 'lesson[minute]', :minute_step => 15, class: 'form-control', :required => true
  #choices_lessons_topic_group
  #choices_lessons_topic
  #choices_lessons_level
  .form-actions
    %h4
      %span#price_shown 0
      €
    = submit_tag :enregistrer, :class => 'btn btn-primary btn-mini'
