<p>Transfert</p>
<%= form_for @user, as: :user, url: wizard_path, method: :put do |f| %>
    <div class="field">
      <%= f.label "Montant" %>
      <%= hidden_field_tag "amount", session[:lesson]['price'], :required => true %>
      <%= session[:lesson]['price'] %>
    </div>
    <div class="field">
      <%= f.label "Bénéficiaire" %>
      <%= hidden_field_tag "beneficiary", session[:lesson]['teacher_id'], :required => true %>
      <%= User.find(session[:lesson]['teacher_id']).email %>
    </div>
    <div class="actions">
      <%= f.submit "Confirmer" %>
    </div>
<% end %>