%body
  - content_for(:title) { "#{page.resource.firstname} #{page.resource.lastname}"}
  %header.header
    %h1.header__heading
      = content_for(:title)
      %small= page.resource.postulance_accepted ? '(Teacher)' : '(Postuling teacher)'
    =image_tag page.resource.avatar.url(:small)
    .header__actions
      = link_to(                             |
          "Edit",                            |
          [:edit, namespace, page.resource], |
          class: "button",                   |
        )
      = form_for([namespace, page.resource], html: {class: "form"}) do |f|
        = f.hidden_field :postulance_accepted, value: !page.resource.postulance_accepted
        = page.resource.postulance_accepted ? (f.submit 'Suspend') : (f.submit 'Approve')
  %dl
    - page.attributes.each do |attribute|

      - case attribute.name
        -when 'gallery'
          = render "gallery", collection_presenter: page, gallery: attribute.data
        -when 'postulation'
          = render "postulation", collection_presenter: page, postulation: attribute.data
        -when 'level'
          = render "level", collection_presenter: page, level: attribute.data
        - else
          %dt.attribute-label= attribute.name.titleize
          %dd{:class => "attribute-data attribute-data--#{attribute.html_class}"}
            - if attribute.data != "" && !attribute.data.nil?
              = render_field attribute
            - else
              ="-"

