%body
  - content_for(:title) { "#{page.resource.firstname} #{page.resource.lastname}" }
  %header.header
    %h1.header__heading= content_for(:title)
    =image_tag page.resource.avatar.url(:small)

    .header__actions
      = link_to(                             |
          "Edit",                            |
          [:edit, namespace, page.resource], |
          class: "button",                   |
        )
  %dl
    - page.attributes.each do |attribute|

      - case attribute.name
        -when 'gallery'
          = render "gallery", collection_presenter: page, resources: attribute
        -when 'postulation'
          = render "postulation", collection_presenter: page, resources: attribute
        - else
          %dt.attribute-label= attribute.name.titleize
          %dd{:class => "attribute-data attribute-data--#{attribute.html_class}"}= render_field attribute
