:javascript
  $(document).ready(function(){
    window.location.href = "#{@join_mobile}";
  });
%h1
  Mobile access to #{@room.name}
%div{:style => "text-align:center; width:250px;"}
  %span You are being redirected to the conference in your mobile device.
  %br/
  %div
    %span If you are not redirected, please make sure you have the mobile client installed:
    %div
      = link_to(mobile_google_play_link, :class => "mobile-download-image") do
        = image_tag mobile_google_play_image, :alt => "Download the Android client", :title => "Download the Android client"
    %div
      = link_to(mobile_apple_store_link, :class => "mobile-download-image") do
        = image_tag mobile_apple_store_image, :alt => "Download the iOS client", :title => "Download the iOS client"
  %br/
  %div
    = link_to "You have the application but still hasn't been redirected? Click here to try again.", @join_mobile
  %br/
  %div
    = link_to "If you are not on a mobile client, click here to log in using the default desktop client.", @join_desktop
