%p Transfert
= form_for @user, as: :user, url: wizard_path, method: :put do |f|
  .field
    = f.label "Montant"
    = hidden_field_tag "amount", @payment.price, :required => true
    = @payment.price
  .field
    = f.label "Bénéficiaire"
    = hidden_field_tag "beneficiary", @payment.lesson.teacher_id, :required => true
    = @payment.lesson.teacher.email
  .actions
    = f.submit "Confirmer"
