%table.collection-data{"aria-labelledby" => "page-title"}
  %thead
    %tr
      - if (resources.first.is_a?(Student))
        %th.cell-label.cell-label Photo
      - collection_presenter.attribute_types.each do |attr_name, attr_type|
        %th.cell-label.cell-label #{attr_name}
        - if collection_presenter.ordered_by?(attr_name)
          %span.cell-label__sort-indicator.cell-label__sort-indicator #{collection_presenter.ordered_html_class(attr_name)}"}
          = svg_tag("administrate/sort_arrow.svg","sort_arrow",width: "13",height: "13")                                |
      %th{:colspan => "2", :scope => "col"}
  %tbody
    - resources.each do |resource|
      %tr.table__row{"data-url" => "#{polymorphic_path([namespace, resource])}", :role => "link", :tabindex => "0"}
        - if (resources.first.is_a?(Student))
          %td
            = image_tag(resource.avatar.url(:small))
          %td= resource.id
          %td= resource.level.be
          %td= resource.email
          %td= resource.phonenumber
          %td= resource.adverts.count.to_s + ' adverts'
          %td= link_to(t("administrate.actions.show"),[namespace, resource],class: "action-show")