// le css est dans conversations.scss

.mail-box
  #mailbox-head
    .new-message
      = image_tag('compose_message.png', class: 'compose-message')
    #compose-message
      .form-group
        = label_tag 'recipients', 'À:'
        %input#recipients{:list => "recipients-list", :class => 'form-control',
        :placeholder => 'Entrez le nom d\'une personne'}
        %datalist#recipients-list
          -@recipient_options.each do |o|
            %option{value:o.name, userid: o.id}
  #mailbox-content
    %aside.sm-side
      -#liste des conversations
      #conversations-list
        = render partial: 'new_conversation_preview'
        - @conversations.each do |conversation|
          = render partial: 'last_message', :locals=> {conversation: conversation, user: @user}
    %aside.lg-side
      -#contenu de la conversation
      #mailbox_conversations
        - if @conversations.empty?
          = render partial: 'no_conversations'
        - else
          = render partial: 'conversation', locals:{conversation: @conversations.first}
    .clearfix

= render partial: 'lesson_requests/request_lesson_modal'

:javascript
  $('.compose-message').click(function(){
    $('.conversation-preview.active').removeClass('active');
    $('#compose-message').toggle('slow');
    $('.new-message.conversation-preview').toggle();
    $('#mailbox_conversations').html("#{j render partial: 'new_conversation'}");
  });
  options = $('#recipients-list option');
  $('#recipients').on('input', function(){
    $('#new_message_recipient').val('');
    var input = $(this);
    options.each(function(){
      if($(this).val() == input.val())
      {
        $('#new_message_recipient').val($(this).attr('userid'));
        return;
      }
    });
  });
