// le css est dans conversations.scss
.mail-box
  %aside.sm-side
    .user-head
    .inbox-body
      %a.btn.btn-compose{"data-toggle" => "modal", :href => "#myModal", :title => "Compose"}
        Nouveau
    = render 'mailbox_navigation'
    = render 'mailbox_contacts'
  %aside.lg-side
    = render 'mailbox_head'
    = render partial: 'mailbox_options', :locals=>{conversations: @conversations}
    = render partial: 'mailbox_conversations', :locals=>{conversations: @conversations, user: @user}