// le css est dans conversations.scss

.mail-box
  #mailbox-head
  #mailbox-content
    %aside.sm-side
      -#liste des conversations
      #conversations-list
        - @conversations.each do |conversation|
          = render partial: 'last_message', :locals=> {conversation: conversation, user: @user}
    %aside.lg-side
      -#contenu de la conversation
      #mailbox_conversations
        - if @conversations.empty?
          = render partial: 'no_conversations'
        - else
          = render partial: 'conversation', locals:{conversation: @conversations.first}
    .clearfix


#modalCompose.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "Nouveau message", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Nouveau message
      .modal-body
        = form_tag messages_path, method: :post do
          .form-group
            = label_tag 'recipients', 'Envoyer à'
            = select_tag 'recipients', options_for_select(@recipient_options.collect{|u| [u.name, u.id]}), class:'form-control', required: true
          .form-group
            = label_tag 'message[subject]', 'Sujet'
            = text_field_tag 'message[subject]', nil, class: 'form-control', required: true
          .form-group
            = label_tag 'message[body]', 'Message'
            = text_area_tag 'message[body]', nil, rows: 5, class: 'form-control', required: true
          = submit_tag 'Send', class: 'btn btn-primary'


= render partial: 'lesson_requests/request_lesson_modal'