<div class="chatboxhead">
  <div class="chatboxtitle">
    <i class="fa fa-comments"></i>

    <h1>
      <p>
        <%= render 'conversations/participants', conversation: @conversation %>
      </p>
      <span class="typing" hidden><i>Écrit</i> <%= image_tag "typing.gif" %></span>
    </h1>
  </div>
  <div class="chatboxoptions">
    <%= link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @conversation.id %>
    &nbsp;&nbsp;
    <%= link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @conversation.id %>
  </div>
  <br clear="all"/>
</div>
<div class="chatboxcontent">
  <% @conversation.messages.each do |m| %>
      <p><%= render 'messages/message', message: m %></p>
  <% end %>
</div>

<div class="chatboxinput">
  <%= form_tag reply_conversation_path(@conversation), method: :post do %>
      <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
      <%= submit_tag "Send Message", class: 'btn btn-primary' %>
  <% end %>
</div>
<%= subscribe_to conversation_path(@conversation) %>