.result{:class => (custom unless custom.nil?)}
  .result-wrapper
    = link_to user_path(u) do
      .result-picture
        = image_tag(u.avatar.url(:medium))
        - if u.online?
          %span.online
            %i.fa.fa-circle.text-green
            en ligne
          .result-online
    - if u.is_a?(Teacher)
      .user-price
        #{"%g" % (u.min_price)}€/h
    .result-infos
      .user-name
        = link_to "#{u.name.split.map(&:capitalize).join(' ')}", user_path(u)
      .user-rating
        = render partial: "shared/star_rating", locals: {note: u.avg_reviews}
        %span.number-of-reviews
          #{u.reviews_received.count}
          %i.fa.fa-user
      .user-topics
        #{u.adverts.map{|ad| "#{link_to ad.title, profs_by_topic_path(ad.title.downcase)}"}.first(5).join(", ").html_safe}
        - if u.adverts.count > 5
          = link_to '...', user_path(u)
      -unless u.online? || u.last_seen.nil?
        .user-last-seen.text-green
          %i.fa.fa-circle-o
          = "Der. connexion: #{time_ago_in_words(u.last_seen)}"
      %p.user-description-excerpt
        = sanitize(u.description, tags: %w(a p)).truncate_words(25).html_safe
    .result-footer
      - unless u.featured_review.nil?
        = link_to user_path(u) do
          .footer-review
            .review-picture
              = image_tag(u.featured_review.sender.avatar.url(:small))
            .review-text
              - unless u.featured_review.sender.firstname.empty?
                #{u.featured_review.sender.firstname}:
              #{simple_format(u.featured_review.review_text.truncate(50))}
              = render partial: "shared/star_rating", locals: {note: u.featured_review.note} if strip_tags(u.featured_review.review_text).empty?
      - else
        - if u.first_lesson_free
          = link_to user_path(u) do
            .footer-free-lesson
              %i.fa.fa-gift.fa-2x
              Premier cours gratuit!