%h1
  = BigbluebuttonRoom.model_name.human
  \:
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:id)
    \:
  = @room.id
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:server_id)
    \:
  = @room.server_id
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:name)
    \:
  = @room.name
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:meetingid)
    \:
  = @room.meetingid
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:private)
    \:
  = @room.private
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:attendee_key)
    \:
  = @room.attendee_key
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:moderator_key)
    \:
  = @room.moderator_key
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:welcome_msg)
    \:
  = @room.welcome_msg
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:logout_url)
    \:
  = @room.logout_url
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:dial_number)
    \:
  = @room.dial_number
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:voice_bridge)
    \:
  = @room.voice_bridge
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:max_participants)
    \:
  = @room.max_participants
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:external)
    \:
  = @room.external
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:param)
    \:
  = @room.param
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:record_meeting)
    \:
  = @room.record_meeting
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:duration)
    \:
  = @room.duration
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:moderator_only_message)
    \:
  = @room.moderator_only_message
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:auto_start_recording)
    \:
  = @room.auto_start_recording
%p
  %b
    = BigbluebuttonRoom.human_attribute_name(:allow_start_stop_recording)
    \:
  = @room.allow_start_stop_recording
%p
  %b= BigbluebuttonRoom.human_attribute_name(:metadata)
  - @room.metadata.each do |metadata|
    = metadata.attributes.except("id", "owner_id", "owner_type", "updated_at", "created_at")
    ,
= link_to 'Edit', edit_bigbluebutton_room_path(@room)
|
= link_to 'Back', bigbluebutton_rooms_path
%br/
%p
  %span Access:
  = link_to 'Show', bigbluebutton_room_path(@room)
  |
  \#{link_to 'Join', join_bigbluebutton_room_path(@room)} |
  \#{link_to 'Invite', invite_bigbluebutton_room_path(@room)} |
  \#{link_to 'Mobile Join', join_mobile_bigbluebutton_room_path(@room)} |
  \#{link_to 'End', end_bigbluebutton_room_path(@room), :confirm => 'Are you sure?'} |
  \#{link_to 'Destroy', bigbluebutton_room_path(@room), :confirm => 'Are you sure?', :method => :delete}
%p
  %span Recordings:
  = link_to 'View recordings', recordings_bigbluebutton_room_path(@room)
  |
  \#{link_to 'Fetch recordings', fetch_recordings_bigbluebutton_room_path(@room), :confirm => 'Are you sure?', :method => :post}
