- return_url = local_assigns[:return_url]
- amount = local_assigns[:amount] || @amount || params[:amount]
= form_tag @card_registration.card_registration_url, method: :post do
  = hidden_field_tag :amount, amount
  = hidden_field_tag :data, @card_registration.preregistration_data
  = hidden_field_tag :accessKeyRef, @card_registration.access_key
  - if return_url.present?
    = hidden_field_tag :returnURL, return_url
  .field.form-group
    = label_tag "Numero"
    = number_field_tag :cardNumber, nil, class: 'form-control', :required => true, data: {     |
          :validation => "required creditcard", 'validation-allowing' => "visa, mastercard", |
          "validation-error-msg" => "This card number is invalid."                           |
      }                                                                                      |
  .form-group
    = label_tag "Date d'expiration"
    .row
      .col-xs-3= select_month(nil, {}, {class: 'form-control'})
      .col-xs-3= select_tag :year, options_for_select((Time.now.year..Time.now.year + 50).to_a), class: 'form-control'
    = hidden_field_tag 'cardExpirationDate'
  .field.form-group
    = label_tag "Code de sécurité"
    = password_field_tag 'cardCvx', nil, class: 'form-control', :required => true , data: { |
          :validation => "required cvv",                                                |
          "validation-error-msg" => "This code number is invalid."                      |
      }                                                                                 |
  - if local_assigns[:no_actions].blank?
    .actions
      = submit_tag "Envoyer"

:javascript
  $('.form-control').on('change', function () {
    $.validate({
      modules: 'security'
    });
  });