.col-xs-6.col-md-3.result
  .thumbnail.result
    .caption.result
      %p
        = image_tag(u.avatar.url(:small))
        %p= link_to 'Demander un cours', new_user_request_lesson_path(u.id), class: "btn btn-default", remote: true, "data-toggle" => "modal", 'data-target' => '#request-lesson'
      .nomPrenomResult
        %h5
          = u.lastname
          = u.firstname
          = u.qwerteach_score
      .notation
        Etoile #{u.avg_reviews}
        Nombre de Review #{u.reviews_received.count}
      .specialite
        Spécialité :
        - u.adverts.each do |a|
          = link_to a.topic.title, advert_path(a) unless a.topic.title == "Other"
      %br/
      %h6
        = raw((u.description).truncate_words(100))
      %br
      .lowerPrice
        Prix minimum : #{u.min_price}€
      .firstLessonFree
        - if u.first_lesson_free
          Premier cours gratuit!
      .connexion_last 
        - if u.online?
          en ligne!
      .stat
        - "Taux de réponse: #{u.response_rate}%" unless u.response_rate == 0
        - "Temps moyen de réponse : #{u.response_time}mn" unless u.response_time == 0
      - unless u.featured_review.nil?
        .commentaireProf
          #{simple_format(u.featured_review.review_text)}
          %br
          #{u.reviews_received.count}
      .voirProfil= link_to "Voir le profil", user_path(u)
#request-lesson.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h3.modal-title= "Réserver un cours avec #{u.name}"
      .modal-body
        #lesson-details
          %i.fa.fa-spin.fa-spinner.fa-2x
        #cd
      .modal-footer
        %button.btn{"data-dismiss" => "modal", :type => "button"} Close