= form_tag users_path, :method => :get do
  = collection_select( :Users ,:topic_group_id, :TopicGroup.all, :id, : title, {}, {:multiple => false})
  %p
    = label_tag "Mot-clé"
    = text_field_tag :q, params[:search]
    %br/
    = label_tag "Age : "
    = label_tag "De"
    = number_field_tag :age_min, params[:age_min], :min => 0
    = label_tag "A"
    = number_field_tag :age_max, params[:age_max], :min => 0
    %br/
    = label_tag "Diplome"
    - levels = Level.select('distinct(' + I18n.locale[0..3] + '), id,' + I18n.locale[0..3] + '').where(:code => "scolaire").group(I18n.locale[0..3]).order(:id)
    = select_tag :degree_id, options_for_select(levels.all.collect { |p| [p[I18n.locale[0..3]], p.id] }), :include_blank => true
    %br/
    = label_tag "Prix : "
    = label_tag "De"
    = number_field_tag :min_price, params[:min_price] , :min => 0
    = label_tag "A"
    = number_field_tag :max_price, params[:max_price], :min => 0
    %br/
    = submit_tag "Search", :name => nil
/ Permet la recherche en haut de page
.section-resultat-header
  %br/
  = form_tag users_path, :method => :get do
    = label_tag "Prof de"
    / A MODIFIER EN FONCTION DE LA BDD POUR LES MATIERES
    = select_tag(:q, options_for_select([['Mathématiques', 'Mathématiques'], ['Statistiques', 'Statistiques'], ['Autre','Autre'],['Physique', 'Physique'], ['Chimie', 'Chimie'], ['Biologie','Biologie'],['Autre','Autre' ], ['Français', 'Français'], ['Latin','Latin'], ['Grec','Grec' ]], ":q"), {:class => 'form-control select select-primary'})
    / <haml_loud> select_tag(:q, options_for_select([[&#39;Mathématiques&#39;, 1], [&#39;Statistiques&#39;, 2], [&#39;Autre&#39;,3],[&#39;Physique&#39;, 4], [&#39;Chimie&#39;, 5], [&#39;Biologie&#39;,6],[&#39;Autre&#39;, 7], [&#39;Français&#39;, 8], [&#39;Latin&#39;,9], [&#39;Grec&#39;, 10]]), {:class =&gt; &#39;form-control select select-primary&#39;}) </haml_loud>
    = submit_tag "Rechercher", :name => nil
    %br/
    = label_tag "trié par"
    = select_tag(:p, options_for_select([['Pertinence', 'Pertinence'], ['Prix', 'Prix'], ['Avis','Avis'],['Activité', 'Activite']]), {:class => 'form-control select select-primary'})
  %h3
    Trouvez votre
    %b
      prof de #{}
    pour un
    %b cours particulier en ligne.
#facets.row.featurette.hautPageResult
  %h3 Résultat(s)
  / Permet l'affichage des résultats
  .resultat
    - @pagin.each do |u|
      .col-xs-6.col-md-3.result
        .thumbnail.result
          .caption.result
            %p
              = image_tag(u.avatar.url(:medium))
            %p= link_to 'Demander un cours', user_require_lesson_index_path(u.id)
            .nomPrenomResult
              %h5
                = u.lastname
                = u.firstname
            .notation
              Etoile #{u.avg_reviews}
            .specialite
              Spécialité :
              - @h[u.id].each do |a|
                = link_to a.topic.title, advert_path(a)
            %br/
            %h9
              = raw(u.description)
            %br/
            .commentaireProf Wahouu Troop biiiien
            .voirProfil= link_to "Voir le profil", user_path(u)
    = paginate @pagin
.row.featurette.section-commentmarche
  .col-md-7
    = image_tag("test3.png", :class => "img_love img-responsive")
  .col-md-5
    %p
    %h4
      Choisissez votre professeur.
      %br/
      %h6 Découvrez des experts aux compétences diverses et aux parcours uniques, à votre disposition?
      %br/
      %a{:href => "#entete"} Trouver un prof
    %p
    %h4 Fixer un rendez-vous
    %h6 Communiquez avec votre prof sur vos besoins spécifiques et validez le tarif du cours.
    %br/
    %p
    %h4 Recevez votre cours en ligne
    %h6 Aprendez à votre rythme en partageant vos docuements dans la classe virtuelles.
    %p
      Qu'est ce que
      %a{:href => ""} la classe virtuelle?
.row.featurette.section.section-commentaire
  .col-md-7
    = image_tag("test3.png", :class => "img_present img-responsive")
  .col-md-5
    %h4#cadreBleu.txtCadreBleu Nos élèves adorent leurs cours en ligne.
.row
  .col-sm-6.col-md-4.colonne1.thumbnails
    = image_tag("test3.png", :class => "image_presse img-responsive")
    .caption
      %h4 Des professeurs de qualités
      %hr{:color => "grey", :width => "25%"}/
      %p
      %h5 La communauté Qwerteach offre un large choix de professeurs motivés et compétents. Tous nos professeurs sont interviewés individuellement, évalués puis validés par notre équipe.
      %p
        %a{:href => ""} Plus d'info
  .col-sm-6.col-md-4.colonne2.thumbnails
    = image_tag("test3.png", :class => "image_presse img-responsive")
    .caption
      %h4 Vous travaillez à votre rythme
      %hr{:color => "grey", :width => "25%"}/
      %p
      %h5 Opter pour des cours en ligne permet de module plus aisément les heures de cours, de s'adapter ç l'emloi du temps de l'élève et de respecter son rythme de travail.
      %p
        %a{:href => ""} Plus d'info
  .col-sm-6.col-md-4.colonne3.thumbnails
    = image_tag("test3.png", :class => "image_presse img-responsive")
    .caption
      %h4 Vos cours sont enregistrés
      %hr{:color => "grey", :width => "25%"}/
      %p
      %h5 Afin de favoriser la concentration sur les explications du professeur plutôt que sur la prise de note, chaque leçon est enregistrée et accesisslbe par la suite
      %p
        %a{:href => ""} Plus d'info
.container
  %div{:classe => "row section-presse"}
    %h2 La presse parle de nous!
    .col-sm-2.col-xs-4.center-block= image_tag("test3.png", :class => "image_presse img-responsive")
    .col-sm-2.col-xs-4.center-block= image_tag("test3.png", :class => "image_presse img-responsive")
    .col-sm-2.col-xs-4.center-block= image_tag("test3.png", :class => "image_presse img-responsive")
    .col-sm-2.col-xs-4.center-block= image_tag("test3.png", :class => "image_presse img-responsive")
    .col-sm-2.col-xs-4.center-block= image_tag("test3.png", :class => "image_presse img-responsive")
    .col-sm-2.col-xs-4.center-block= image_tag("test3.png", :class => "image_presse img-responsive")
