.section-resultat-header
  = form_tag users_path, :method => :get do
    Profs de
    = select_tag("topic", options_for_select(@topic_options, params[:topic]))
    triés par
    = select_tag("search_sorting", options_for_select(@sorting_options, :selected => params[:search_sorting]))
    = submit_tag("Go")
    %h3
      Trouvez votre
      %b
        prof de #{@topic.title}
      pour un
      %b cours particulier en ligne.
.container
  #facets.row.featurette.hautPageResult
    %h3 Résultat(s)
    / Permet l'affichage des résultats
    .resultat
      - @pagin.each do |u|
        = render partial: 'users/prof_recherche', :locals => {:u => u}
      = #paginate @pagin
= render 'pages/partie_commentaire'
= render 'pages/tri_colonne'
= render "pages/presse"