.section-resultat-header
  = form_tag users_path, :method => :get do
    = select("post", "topic_group_id", TopicGroup.all.collect {|p| [ p.title, p.topic_group_id] },{:class => 'form-control'})
    = submit_tag "Search", :name => nil
    %p
      = label_tag "Mot-clé"
      = text_field_tag :q, params[:search]
      %br/
      = label_tag "Age : "
      = label_tag "De"
      = number_field_tag :age_min, params[:age_min], :min => 0
      = label_tag "A"
      = number_field_tag :age_max, params[:age_max], :min => 0
      %br/
      = label_tag "Diplome"
      - levels = Level.select('distinct(' + I18n.locale[0..3] + '), id,' + I18n.locale[0..3] + '').where(:code => "scolaire").group(I18n.locale[0..3]).order(:id)
      = select_tag :degree_id, options_for_select(levels.all.collect { |p| [p[I18n.locale[0..3]], p.id] }), :include_blank => true
      %br/
      = label_tag "Prix : "
      = label_tag "De"
      = number_field_tag :min_price, params[:min_price] , :min => 0
      = label_tag "A"
      = number_field_tag :max_price, params[:max_price], :min => 0
      %br/
      = submit_tag "Search", :name => nil
    %h3
      Trouvez votre
      %b
        prof de #{}
      pour un
      %b cours particulier en ligne.
#facets.row.featurette.hautPageResult
  %h3 Résultat(s)
  / Permet l'affichage des résultats
  .resultat
    - @pagin.each do |u|
      .col-xs-6.col-md-3.result
        .thumbnail.result
          .caption.result
            %p
              = image_tag(u.avatar.url(:medium))
            %p= link_to 'Demander un cours', user_require_lesson_index_path(u.id)
            .nomPrenomResult
              %h5
                = u.lastname
                = u.firstname
            .notation
              Etoile #{u.avg_reviews}
              Nombre de Review #{u.numberOfReview}
            .specialite
              Spécialité :
              - @h[u.id].each do |a|
                = link_to a.topic.title, advert_path(a)
            %br/
            %h6
              = raw(u.description)
            %br
            .lowerPrice
              Prix minimum : #{u.priceLessExpensive}€
            .firstLessonFree
              #{u.firstLessonFree}
            .connexion_last 
              #{u.online}
              = u.last_sign_in_at
            .commentaireProf 
              #{u.lastReview}
              #{u.numberOfReview}
            .voirProfil= link_to "Voir le profil", user_path(u)
    = paginate @pagin
= render 'pages/partieCommentaire'
= render 'pages/triColonne'
= render "pages/presse"