<%= form_tag users_path, :method => :get do %>
    <p>
      <%= text_field_tag :q, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>
<div id="facets">
  <h3>Results</h3>
  <% h = Hash.new() %>
  <ul>
    <% @search.results.each do |x| %>
        <% if h.assoc(x.user_id).nil? %>
            <% h.store(x.user_id, Array.new) %>
        <% end %>
        <% h[x.user_id].push(x) %>
    <% end %>
    <% @pagin = User.where(:id => h.keys, :postulance_accepted => true).page(params[:page]).per(15) %>
    <% #@pagin = Kaminari.paginate_array(@table).page(params[:page]).per(1) %>
    <% @pagin.each do |u| %>
        <li>
          <p><%= image_tag(u.avatar.url(:small)) %><%= link_to u.email, user_path(u) %></p>
          <% h[u.id].each do |a| %>
              <%= link_to a.topic.title, advert_path(a) %>
          <% end %>
        </li>
    <% end %>
    <%= paginate @pagin %>
  </ul>
</div>

