= render partial: 'users/search/header'
.section-resultat-header

.container
  #facets.row.featurette.hautPageResult
    %h3 Résultat(s)
    / Permet l'affichage des résultats
    .resultat
      - @pagin.each do |u|
        = render partial: 'users/prof_recherche', :locals => {:u => u}
= render 'pages/partie_commentaire'
= render 'pages/tri_colonne'
= render "pages/presse"