= render partial: 'users/search/header'
#search-filters
#search-results.clearfix
  - @pagin.each do |u|
    = render partial: 'users/search/search_result', :locals => {:u => u}
.container-fluid
  = render 'pages/accueil/partie_commentaire'
  = render 'pages/accueil/tri_colonne'
  = render 'pages/accueil/presse'