= render partial: 'users/search/header'
= render partial: 'users/search/search_options', locals: {topics_options: @topic_options, sorting_options: @sorting_options}
= render partial: 'users/search/search_filters'
#search-results.clearfix
  - @search.each do |u|
    = render partial: 'users/search/search_result', :locals => {:u => u, :custom=>nil}
#more-results
  .more-results-button
    = link_to_next_page @pagin, 'voir plus', params: params, remote: true
.container-fluid
  = render 'pages/accueil/partie_commentaire'
  = render 'pages/accueil/tri_colonne'
  = render 'pages/accueil/presse'