<div class="headerIcone"></div>
   <div class="mail"id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
             <ul class="sidebar-nav"><div class="photoProfil"> <%= image_tag(@user.avatar.url(:medium), size: "250x250") %> </div></ul>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-4 "><h3 class="nomPrenomProfil col-md-4"><b><%= @user.lastname %> <%= @user.firstname %></b></h3><% if @user.postulance_accepted? %>
                  <i>Prof certifié <%= image_tag("check.png") %></i>
              <% end %>
              </div>
                    <div class="col-md-4 ">
                 
              <p><%= link_to 'Réserver un cours', user_require_lesson_index_path(@user.id) %></p>
              <p><%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                             "data-sid" => @user.id, "data-rip" => @user.id %></p>
                        </div>

                         <div> 
                          <% @adverts.each do |a| %>
                        <h9 class="matiereProfil"><%= a.topic.topic_group.title %></h9>
                      <% end %></p>
                        <p><%= Time.now.year - @user.birthdate.year %> ans</p>
                        <p><%= @user.occupation %></p>
                      </div>
                    
                </div>

            </div>
        </div>

        <!-- /#page2-content-wrapper -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row ">
                    <p><%= raw(@user.description) %></p>
                </div>

            </div>
            
        </div>
    </div>
    <!-- /#wrapper -->