#sidebar-profile
  #user-profilepicture
    = image_tag(@user.avatar.url(:medium), size: "250x250")
  - if @user.is_a?(Teacher)
    .user-pricing
      .minprice
        = "%g€/h" % (@user.min_price)
      %a{"data-toggle" => "modal", :href => "#myModTarif"} voir le tarif détaillé
    = link_to 'Réserver un cours', new_user_request_lesson_path(@user),
      class: "btn btn-green", remote: true, "data-toggle" => "modal", 'data-target' => '#request-lesson'
  #user-contactform
    = render partial: 'users/profile/contactform', locals:{me: @me, user: @user}
#profile-content
  .profile-header
    =render partial: 'users/profile/profile_header', locals:{user: @user}
  .profile-description
    #{@user.description.html_safe}
  #profile-adverts
    =render partial: 'users/profile/profile_adverts', locals:{adverts: @adverts, adverts_single: @adverts_single}
  #profile-calendar
  #profile-reviews
    = render partial: 'users/profile/profile_reviews', locals:{reviews: @reviews}
  .similar-teachers
  .clearfix

#myModTarif.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Tarif(s) de #{@user.name}
      .modal-body
        - @adverts.each do |advert|
          = render partial: "users/tarifs", :locals => {:advert => advert}
    .modal-footer
      .pasDeCompte{"data-dismiss" => "modal", "data-target" => "#myModCo", "data-toggle" => "modal"}

= render partial: 'request_lesson/request_lesson_modal'

