.featurette.section_choix
  .matiere
    %a
      = image_tag("matieres/maths.png", :class => "image_presse img-responsive")
      %h3 Maths
  .matiere
    %a
      = image_tag("matieres/sciences.png", :class => "image_presse img-responsive")
      %h3 Science
  .matiere
    %a
      = image_tag("matieres/francais.png", :class => "image_presse img-responsive")
      %h3 Français
  .matiere
    %a
      = image_tag("matieres/informatique.png", :class => "image_presse img-responsive")
      %h3 Informatique
  .matiere
    %a
      = image_tag("matieres/anglais.png", :class => "image_presse img-responsive")
      %h3 Anglais
  .matiere
    %a
      = image_tag("matieres/neerlandais.png", :class => "image_presse img-responsive")
      %h3 Néerlandais
  .tous
    %a.opacity_hover Toutes les matières