.section_profs.100window
  .inside
    .title.cadre_large.item
      %h3 
        Choisissez
        %br le professeur
        qui vous  
        %br convient
    - profs.each_with_index do |prof, index|
      .prof{id: "prof#{index}", style: "background-image: url(#{image_path prof.avatar.url(:large)})"}
        %p
          %span.name
            = prof.firstname
            = prof.lastname
          %br
          - prof.adverts.each do |advert|
            = link_to advert.topic.title, profs_by_topic_path(advert.topic.title) unless advert.topic.title == 'Other'