= form_for @degree, :html => {:class => 'form-horizontal'} do |f|
  .form-group
    - levels = Level.select('distinct(' + I18n.locale[0..3] + '), id,' + I18n.locale[0..3] + '').where(:code => "scolaire").group(I18n.locale[0..3]).order(:id)
    = f.label :level_id
    %br/
    = f.select :level_id, levels.all.collect { |p| [p[I18n.locale[0..3]], p.id] } ,required: true
  .form-group
    = f.label :intitulé, :class => 'control-label'
    = f.text_field :title, :class => 'form-control', required: true
  .form-group
    = f.label :institution, :class => 'control-label'
    = f.text_field :institution, :class => 'form-control', required: true
  .form-group
    = f.label :completion_year, :class => 'control-label'
    = f.text_field :completion_year, :data => {:provide => "datepicker", 'date-format' => 'yyyy', 'date-view-mode'=>'years', 'date-min-view-mode'=>'years', 'date-autoclose' => true, 'date-end-date' => (Date.new)}, :class => 'form-control',  required: true
  .form-group
    = f.label :adress, :class => 'control-label'
    = f.text_field :adress, :class => 'form-control', required: true
  .form-group 
    = f.label :postalCode, :class => 'control-label'
    = f.number_field :postalCode, :class => 'form-control', required: true
  .form-group
    = f.label :city, :class =>'control-label'
    = f.text_field :city, :class => 'form-control', required: true
  .form-group
    = f.label :country, :class => 'control-label'
    = f.text_field :country, :class => 'form-control', required: true
  .form-actions
    = f.submit :enregistrer, :class => 'btn btn-primary btn-mini'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), |
      degrees_path, :class => 'btn btn-mini'                       |
