<%= form_for :degree , url: {action: "create"}, :html => {:class => 'form-horizontal'} do |f| %>
	<div class="form-group">
	  <% levels = Level.select('distinct(' + I18n.locale[0..3] + '), id,' + I18n.locale[0..3] + '').where(:code => "scolaire").group(I18n.locale[0..3]).order(:id) %>
      <%= f.label :level_id %><br/>
      <%= f.select :level_id, levels.all.collect { |p| [p[I18n.locale[0..3]], p.id] } %>
	</div>
	<div class="form-group">
    <%= f.label :intitulé, :class => 'control-label' %>
	  <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :institution, :class => 'control-label' %>
    <%= f.text_field :institution, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :completion_year, :class => 'control-label' %>
    <%= f.text_field :completion_year, :data => {:provide => "datepicker", 'date-format' => ' yyyy', 'date-view-mode'=>'years', 'date-min-view-mode'=>'years'}, :class => 'form-control'  %>
  </div>
  <div class="form-actions">
    <%= f.submit :enregistrer, :class => 'btn btn-primary btn-mini' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  degrees_path, :class => 'btn btn-mini' %>
  </div>
<% end %>