.container
  %div{:classe => "row section-presse"}
    %h2 La presse parle de nous!
    .col-sm-2.col-xs-4.center-block
      = image_tag("test3.png", :class => "image_presse img-responsive")
    .col-sm-2.col-xs-4.center-block= image_tag("test3.png", :class => "image_presse img-responsive")
    .col-sm-2.col-xs-4.center-block= image_tag("test3.png", :class => "image_presse img-responsive")
    .col-sm-2.col-xs-4.center-block= image_tag("test3.png", :class => "image_presse img-responsive")
    .col-sm-2.col-xs-4.center-block= image_tag("test3.png", :class => "image_presse img-responsive")
    .col-sm-2.col-xs-4.center-block= image_tag("test3.png", :class => "image_presse img-responsive")