.section-profs
  - profs.each do |prof|
    .prof
      = prof.id
      = prof.firstname
      = prof.lastname
      = prof.first_lesson_free
      = image_tag(prof.avatar.url(:small), size: "100x100")
