.section_profs.100window
  .inside
    .title.cadre_large.item
      %h3 
        Choisissez
        %br le professeur
        qui vous  
        %br convient
    - profs.each do |prof|
      .prof{:style => "background-image: url(#{image_path prof.avatar.url(:large)})"}
        %p.name
          = prof.firstname
          = prof.lastname
          %br
          - prof.adverts.each do |advert|
            = advert.topic.title unless advert.topic.title == 'Other'
        //= image_tag(prof.avatar.url(:small))
    = render partial: 'topic_groups_list', locals:{topic_groups: topic_groups}