= render 'pages/comment_ca_marche/section_video'
= render 'pages/comment_ca_marche/section_test_classe'
= render 'pages/comment_ca_marche/section_etapes'
= render 'pages/comment_ca_marche/section_comment_prendre_cours'
= render 'pages/comment_ca_marche/section_comment_donner_cours'