<% content_for :top_content do %>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome!</h1>
        <p>
          <% if user_signed_in? %>
            <h2>Utilisateurs enregistrés</h2>
            <table style="width:50%">
              <thead>
              <tr>
                <th>Photo</th>
                <th>Id</th>
                <th>Type</th>
                <th>Email</th>
              </tr>
              </thead>
              <tbody>
              <% for user in User.all %>
                  <tr>
                    <td><%= image_tag user.avatar.url(:medium) %></td>
                    <td><%= user.id %></td>
                    <td><%= user.type %></td>
                    <td><%= user.email %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% else %>
            <p>Register to get started.</p>
            <%= link_to t('forms.buttons.subscribe'), new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        <% end %>
        </p>

      </div>
    </div>
<% end %>