= render 'pages/accueil/partie_comment_ca_marche'
= render 'pages/accueil/partie_big_image'
= render 'pages/accueil/partie_recherche'
= render 'pages/accueil/partie_carrousel'
= render partial: 'pages/accueil/prof', :locals => {profs: @featured_teachers, topic_groups: @featured_topics}
= render 'pages/accueil/partie_choix'
= render 'pages/accueil/tri_colonne'
= render 'pages/accueil/partie_commentaire'
= render "pages/accueil/presse"
