= render 'pages/partie_recherche'
= render 'pages/partie_carrousel'
= render partial: 'pages/prof', :locals => {profs: @featured_teachers}
= render partial: 'pages/rev', :locals => {:reviews => @featured_reviews}
= render 'pages/partie_quadri_prof'
= render 'pages/partie_comment_ca_marche'
= render 'pages/partie_commentaire'
= render 'pages/tri_colonne'
= render "pages/presse"
