<% if transaction["Status"] != 'FAILED' && transaction["Type"] != 'PAYIN' %>
    <tr>

      <td><%= Time.at(transaction["CreationDate"]).to_datetime %></td>
      <td><%= Time.at(transaction["ExecutionDate"]).to_datetime %></td>
      <% if (transaction["CreditedUserId"]).to_i == current_user.mango_id
           proprio = MangoPay::Wallet.fetch(transaction["DebitedWalletId"])["Owners"].first
           prop = User.where(:mango_id => proprio) %>
          <td><%= prop.first.email %></td>
      <% else %>
          <% prop = User.where(:mango_id => transaction["CreditedUserId"]) %>
          <td><%= prop.first.email %></td>
      <% end %>

      <td><%= (transaction["CreditedUserId"]).to_i == current_user.mango_id ? +((transaction["CreditedFunds"]["Amount"]).to_f/100).to_f : -((transaction["DebitedFunds"]["Amount"]).to_f/100).to_f %> <%= transaction["CreditedFunds"]["Currency"] %> </td>
    </tr>
<% end %>