<%= form_for @user, :url => update_bank_accounts_path, method: :put do |f| %>
    <div class="field">
      <%= label_tag 'FirstName' %><br/>
      <%= text_field_tag 'FirstName', @mango_user['FirstName'], :required => true %>
    </div>
    <div class="field">
      <%= label_tag 'LastName' %><br/>
      <%= text_field_tag 'LastName', @mango_user['LastName'], :required => true %>
    </div>
    <%= fields_for 'Address' do |address_fields| %>
        <div class="field">
          <%= label_tag 'street' %><br/>
          <%= address_fields.text_field 'AddressLine1', :value => @user.address['AddressLine1'], :required => true %>
        </div>
        <div class="field">
          <%= label_tag 'number' %><br/>
          <%= address_fields.text_field 'AddressLine2', :value => @user.address['AddressLine2'], :required => true %>
        </div>
        <div class="field">
          <%= label_tag 'post_code' %><br/>
          <%= address_fields.number_field 'PostalCode', :value => @user.address['PostalCode'], :required => true %>
        </div>
        <div class="field">
          <%= label_tag 'city' %><br/>
          <%= address_fields.text_field 'City', :value => @user.address['City'], :required => true %>
        </div>
        <div class="field">
          <%= label_tag 'region' %><br/>
          <%= address_fields.text_field 'Region', :value => @user.address['Region'], :required => true %>
        </div>
        <div class="field">
          <%= label_tag 'Country' %><br/>
          <%= address_fields.select 'Country', options_for_select(@list, :selected => @user.address['Country']), :required => true %>
        </div>
    <% end %>
    <div class="field">
      <%= label_tag 'Country_of_residence' %><br/>
      <%= select_tag 'CountryOfResidence', options_for_select(@list, :selected => @user.countryOfResidence), :required => true %>
    </div>

    <div class="field">
      <%= label_tag 'Nationality' %><br/>
      <%= select_tag 'Nationality', options_for_select(@list, :selected => @user.nationality), :required => true %>
    </div>
    <% if (!@user.bank_accounts || @user.bank_accounts.empty?) %>
        <%= render(:partial => '/mangopay/bank_accounts/new') %>
    <% else %>
        <h4> Vos comptes en banque: </h4>
        <% @user.bank_accounts.each do |bank_account| %>
            <% if bank_account['Type'] == 'IBAN' %>
                <b>Type: </b>IBAN<br/>
                <b>Numéro: </b> <%= bank_account['IBAN'] %><br/>
            <% else %>
                <b>Type: </b><%= bank_account['Type'] %><br/>
                <b>Numéro: </b><%= bank_account['AccountNumber'] %><br/>
            <% end %>
            <b>Owner: </b><%= bank_account['OwnerName'] %>
            <br/><br/>
        <% end %>
        <br/>
        <button id="addBankAcountButton" class="btn btn-default" type="button">Ajouter un compte en banque</button>
        <div id="addBankAccount" hidden>
          <%= render(:partial => '/mangopay/bank_accounts/new') %>
        </div>
    <% end %>
    <hr>
    <div class="field">
      <%= f.submit :terminer, :class => 'btn btn-primary btn-mini' %><br/>
    </div>
<% end %>