#credit_card= render 'mangopay/card_form', return_url: direct_debit_path(amount: params[:amount])

:javascript
  mangoPay.cardRegistration.baseURL = "#{ MangoPay.configuration.root_url }";
  mangoPay.cardRegistration.clientId = "#{ MangoPay.configuration.client_id }";
  new CardRegistrationForm( $('#credit_card'), {
    card_registration_url: "#{ @card_registration.card_registration_url }",
    card_registration_id: "#{ @card_registration.id }"
  });