%h2 Charger mon portefeuille
= form_for @user, as: :user, url: direct_debit_path, method: :put do |f|
  = hidden_field_tag 'beneficiary', @user.id
  .field
    = f.label "Montant"
    = number_field_tag "amount", '50', :min => 0 , :step => 0.1 , :required => true
  .field.type_choice
    = f.label "Type de carte"
    = select_tag "card_type", options_for_select(["BCMC","CB_VISA_MASTERCARD", "BANK_WIRE"], "CB_VISA_MASTERCARD"), :required => true
  .field.credit_card_choice
    = f.label "Carte existante"
    = select_tag "card", options_for_select(@cards.map{|f| [f["Alias"], f["Id"]]}), {:include_blank => 'Nouvelle'}
  .actions
    = f.submit "ok"
:javascript
  $('.type_choice').on('change', function () {
    var choice = $('.credit_card_choice');
    if ($('.type_choice option:selected').text() == "CB_VISA_MASTERCARD"){
      choice.show();
    }else if ($('.type_choice option:selected').text() == "BCMC"){
      choice.hide();
    }else if ($('.type_choice option:selected').text() == "BANK_WIRE"){
      choice.hide();
    }
  });
