- if flash[:notice]
  .notice = flash[:notice]

.wallet_index
  .money.col-md-10
    - # user = local_assigns[:user] || current_user ==> ??
    %p
      = wallet_balance(@user.normal_wallet)
    %span
      \#{wallet_balance(@user.bonus_wallet)} de crédit bonus
  .reload.col-md-2
    - if @user.is_a?(Teacher)
      .high
        .center
          =image_tag("wallet/deload.png")
          %p Décharger
      .high
        .center
          =image_tag("wallet/reload.png")
          %p Recharger
    - else
      .center
        = link_to load_wallet_path
        =image_tag("wallet/reload.png")
        %p Recharger
  .threecol#info_bank.col-md-4
    .center
      =image_tag("wallet/info_bank.png")
      %p Information bancaires
    .triangle
  .threecol#historique.col-md-4
    .center
      =image_tag("wallet/historique.png")
      %p Historique
    .triangle
  .threecol#option.col-md-4
    .center
      =image_tag("wallet/option.png")
      %p Coordonnées
    .triangle

  #option_info_bank.block_info
    .line
      .cont
        .v-center.title
          %p Moyens de payement enregistrés
      - @cards.each do |c|
        -if c.active
          .cont
            .v-center.tile{class: c.card_provider}
              %p
                .provider #{c.card_provider} (#{c.currency})
                .alias #{c.alias}
                .expiry expiration: #{c.expiration_date}
                .validity #{c.validity}
      -#.cont
      -#  .v-center.tile#plus
      -#    .center
      -#      =image_tag("wallet/plus.png")
      -#      %p Ajouter un moyen de paiement
      -# ==> Pas encore fonctionnel

    -if @user.is_a?(Teacher)
      .line
        .cont
          .v-center.title
            %p Compte en banque
        -@bank_accounts.each do |ba|
          .cont
            .v-center.tile
              %p
                %b Type:
                #{ba.type}
                %br
                %b Numéro:
                #{ba.iban || ba.account_number }
                %br
                %b Propriétaire:
                #{ba.owner_name}
        .cont
          .v-center.tile#plus
            .center
              =image_tag("wallet/plus.png")
              %p Ajouter un compte bancaire
      #add-bank-account
        = render 'mangopay/bank_accounts/new', bank_account: @bank_account

  #option_historique.block_info
    = render 'transactions_list', transactions: @transactions
  #option_option.block_info
    = render 'mangopay_form', :path => @path
