<p>Montant à transférer :  <%= @user.wallets.first['Balance']['Amount']/100 %> <%= @user.wallets.first['Balance']['Currency'] %>  </p>
<%= form_for @user, :url => make_payout_path, method: :put do |f| %>
    <div class="field">
      <%= label_tag :account %><br/>
      <%= select_tag :account, options_for_select(@user.bank_accounts.collect{|ba| [ba['IBAN'], ba['Id']]}), :required => true  %>
    </div>

    <div class="field">
      <%= submit_tag 'Confirmer', :class => 'btn btn-primary btn-mini' %><br/>
    </div>
<% end %>