- adverts.group_by(&:topic_group_id).each do |topic_group, adverts|
  - adverts.each do |advert|
    -unless adverts.count == 1
      .profile-advert{:class=>"#{profile_advert_classes(adverts.count)} topic_#{topic_group}"}
        .flipper
          .front
            = image_tag(advert.topic.pictotype('medium'), :class => 'advert-picto')
            %h4.advert-title
              #{advert.title}
          .back
            .advert-title
              #{advert.title}
              %br
              %small Jusqu'au niveau #{advert.max_level}
            .advert-description #{advert.description}
        %span.advert-flip-toggle
          %span
- adverts_single.each do |advert|
  - unless advert.nil?
    .profile-advert{:class=>"#{(advert == adverts_single.last && adverts_single.length % 2 == 1)  ? 'simple': 'double'} topic_#{advert.topic_group_id}"}
      .flipper
        .front
          = image_tag(advert.topic.pictotype('medium'), :class => 'advert-picto')
          %h4.advert-title
            #{advert.title}
        .back
          .advert-title
            #{advert.title}
            %br
            %small Jusqu'au niveau #{advert.max_level}
          .advert-description #{advert.description}
      %span.advert-flip-toggle
        %span