.col-xs-6.col-md-3.thumbnail
  %h4= advert.topic.topic_group.title
  %h6= raw(advert.description)
  - if (advert.topic.title=="Autre")
    %p
      Topic: #{advert.other_name}
  - else
    %p
      Topic : #{advert.topic.title}
  - prices = advert.advert_prices
  - prices.each { |p|
  %dd
    = p.level.fr
    \: #{ActionController::Base.helpers.number_to_currency(p.price)}
  - }
  = link_to t('.edit', :default => t("helpers.links.edit")), 
    edit_advert_path(advert), :class => 'btn btn-success'    
  = link_to t('.destroy', :default => t("helpers.links.destroy")),                                     
    advert_path(advert),                                                                               
    :method => :delete,                                                                                
    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Êtes-vous sure ?')), 
    :class => 'btn btn-mini btn-danger'                