<%= form_for @advert, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="field">
      <%= f.label :topic %>
      <%= f.select :topic_id, Topic.all.collect { |p| [p.title, p.id] } %>
    </div>
    <div class="field">
      <%= f.label :other_name %>
      <%= f.text_field :other_name %>
    </div>
    <% levels = Level.select('distinct(' + I18n.locale[0..3] + '), id,' + I18n.locale[0..3] + '').where(:code => 'scolaire').group(I18n.locale[0..3]).order(:id) %>
    <%= label_tag 'Niveaux' %>
    <% levels.each do |c| %>
        <%= label_tag c.fr %>
        <%= check_box_tag 'levels_chosen[]', c.id%>
        <%= label_tag "Price" %>
        <%= number_field_tag 'prices[]', :id => c.id %>
        <br>
    <% end %>


    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary  btn-mini' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  adverts_path(@adverts), :class => 'btn btn-mini' %>
    </div>
<% end %>
