<%= form_for @advert, :html => {:class => 'form-horizontal'}, :remote => remote do |f| %>
    <div class="field group_choice">
      <%= f.label :topic_group %>
      <%= f.select :topic_group_id, options_for_select(TopicGroup.all.collect { |p| [p.title, p.id] }) %>
    </div>
    <div class="field topic_choice group_choice_topic"></div>
    <div class="field other_name">

    </div>
    <div class="field level_choice_levels"></div>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary  btn-mini' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  adverts_path(@adverts), :class => 'btn btn-mini' %>
    </div>
<% end %>
