= form_for advert, :html => {:class => 'form-horizontal'}, :remote => remote do |f|
  .center  
    .left
      .field.description
        = f.text_area :description, :class => 'ckeditor', :placeholder => "Description ..."
    .right  
      .field.level_choice_levels
      .field.group_choice
        = f.select :topic_group_id, options_for_select(TopicGroup.all.collect { |p| [p.title, p.id] }), {include_blank: "Choisissez une catégorie"}, :required => true 
      .field.topic_choice.group_choice_topic
      .field.other_name
      .form-actions
        = f.submit nil, :class => 'btn btn-primary  btn-mini'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), |
          adverts_path, :class => 'btn btn-mini'             |
