= form_for advert, :remote => remote do |f|
  .row
    .col-sm-1
    .col-sm-5
      .form-group
        = f.text_area :description, :class => 'form-control', :rows => 16, :placeholder => "Description ..."
    .col-sm-5
      .form-group.group_choice
        = f.select :topic_group_id, options_for_select(TopicGroup.all.collect { |p| [p.title, p.id] }),
        {include_blank: "Choisissez une catégorie"}, class: 'form-control', :required => true
      .form-group.topic_choice.group_choice_topic
      .field.other_name
      .form-group.level_choice_levels
      .actions
        = link_to 'Annuler', adverts_path, :class => 'text-grey'
        = f.submit 'Sauvegarder', :class => 'btn btn-primary btn-mini'
