.first-lesson-free
  = form_for(@user, url: registration_path(@user), html: { method: :put }, remote: true) do |f|
    %p
      Sur Qwerteach, nous offrons aux élève sla possibilité de réserver un premier cours gratuit d'une heure avec un professeur.
      Par défaut, tous les professeurs participent à ce mouvement. Si vous ne souhaitez pas proposer cette option aux élèves qui souhaitent prendre cours avec vous, vous pouvez ici changer ce paramètre.
    %label#cours_gratuit_info.info Pour le moment, les élèves ont la possibilité de réserver un premier cours gratuit avec vous.
    .switch
      = f.check_box(:first_lesson_free, id: 'cmn-toggle-4', class: 'cmn-toggle cmn-toggle-round-flat')
      %label#label-cmn-toggle-4{for: "cmn-toggle-4"}
.adverts-list.clearfix
  -c = 0
  - layout = adverts_layout(@adverts.count+1)
  -layout.each do |cl|
    -if cl == "br"
      .edit-advert.clearfix
    -else
      - unless @adverts[c].nil?
        .advert{class: "#{cl} topic_#{@adverts[c].topic_group.id}", id: "advert_#{@adverts[c].id}"}
          %p #{@adverts[c].topic.title}
          = link_to edit_advert_path(@adverts[c]), remote: true do
            =image_tag "option.png", :class => "option"
          =image_tag @adverts[c].topic.pictotype('medium'), :class => "icon"
        - c+=1
  .advert.add-new-advert{class: layout.last}
    = link_to new_advert_path, remote: true do
      =image_tag("plus_annonce.png")
    %p Ajouter un annonce
  .edit-advert
#new-advert

