.first-lesson-free
  %p
    Sur Qwerteach, nous offrons aux élève sla possibilité de réserver un premier cours gratuit d'une heure avec un professeur.
    Par défaut, tous les professeurs participent à ce mouvement. Si vous ne souhaitez pas proposer cette option aux élèves qui souhaitent prendre cours avec vous, vous pouvez ici changer ce paramètre.
  %label Premier cours gratuit
  .switch
    %input#cmn-toggle-4.cmn-toggle.cmn-toggle-round-flat{type: "checkbox"}
    %label{for: "cmn-toggle-4"}
.adverts-list.clearfix
  -c = 0
  -adverts_layout(@adverts.count+1).each do |cl|
    -if cl == "br"
      .edit-advert
    -else
      - unless @adverts[c].nil?
        .advert{class: "#{cl} topic_#{@adverts[c].topic_group.id}", id: "advert_#{@adverts[c].id}"}
          #{@adverts[c].topic.title}
          = link_to edit_advert_path(@adverts[c]), remote: true do
            %i.fa.fa-gear.fa-2x
        - c+=1
  .advert.add-new-advert{class: adverts_layout(@adverts.count+1).last}
    = link_to new_advert_path, remote: true do
      %i.fa.fa-plus.fa-5x
  .edit-advert
#new-advert