<h1>My adverts</h1>
<%= link_to 'New', new_advert_path, :class => 'btn btn-mini' %>
<% @adverts.each do |advert| %>
    <p><%= advert.topic.topic_group.title %></p>
    <% if (advert.topic.title=="Other") %>
        <p>Topic: <%= advert.other_name %></p>
    <% else %>
        <p>Topic : <%= advert.topic.title %></p>
    <% end %>
    <% prices = advert.advert_prices %>

    <% prices.each { |p| %>
        <dd><%= p.level.fr %> : <%= ActionController::Base.helpers.number_to_currency(p.price) %></dd>
    <%} %>

    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_advert_path(advert), :class => 'btn btn-mini' %>

    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                advert_path(advert),
                :method => :delete,
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-mini btn-danger' %>
    <br>
<% end %>
