<%= form_for @lesson, :html => {:class => 'form-horizontal form-group', multipart: true} do |f| %>
    <%= f.hidden_field :teacher_id, value: teacher %>
    <div id="price"></div>
    
    <div class="form-group">
      <%= f.label :time_start, :class => 'control-label' %>
      <%= f.datetime_select :time_start, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :time_end, :class => 'control-label' %>
      <%= f.datetime_select :time_end, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag 'Durée' %>
      <%= select_hour 1, :start_hour => 0, :end_hour => 5 %>
      <%= select_minute 30, :minute_step => 15 %>
    </div>
    <div id="choices_lessons_topic_group"></div>
    <div id="choices_lessons_topic"></div>
    <div id="choices_lessons_level"></div>
    <div class="form-actions">
      <%= f.submit :enregistrer, :class => 'btn btn-primary btn-mini' %>
    </div>
<% end %>
