<div class="lesson">
        <p> id : <%= lesson.id %></p>
		<p>Nom Prof: <%= lesson.teacher.firstname %><%= lesson.teacher.lastname %></p>
		<p>Nom Student: <%= lesson.student.firstname %><%= lesson.student.lastname %></p>
		<p> Topic: <%= lesson.topic_group_id %></p>
		<p>Date debut: <%= lesson.time_start %></p>
		<p> Date fin: <%= lesson.time_end %></p>
		<p>Statut du cours: <%= lesson.status.to_s %></p>
    <% # TODO: un seul payement par lesson %>
    <% if lesson.teacher == current_user %>
      <%= button_to 'Créer facture', lesson_create_postpayment_path(lesson) %>
    <% end %>
    
    <% if lesson.student == current_user  %>
      <%= button_to 'Litige', lesson_bloquerpayment_path(:lesson=>lesson, :lesson_id=>lesson.id) %>
        <% lesson.payments.each do |p| %> 
            <% if p.postpayment? %>
                <%= button_to 'Payer Facture', lesson_payerfacture_path(:lesson=>lesson, :lesson_id=>lesson.id) %>
            
            <% if p.prepayment? %>
                 <%= button_to 'Paiement Direct', lesson_payerfacture_path(:lesson=>lesson, :lesson_id=>lesson.id) %>
            <% end %>
            <% end %>
        <% end %>
    <% end %>

<hr>
</div>

