<div class="aa">
		<p><%= lesson.teacher.firstname %><%= lesson.teacher.lastname %></p>
		<p><%= lesson.student.firstname %><%= lesson.student.lastname %></p>
		<p><%= lesson.topic_group_id %></p>
		<p><%= lesson.time_start %></p>
		<p><%= lesson.time_end %></p>
		<p><%= lesson.status.to_s %></p>
<hr>
</div>