<%= form_for @lesson, url: lesson_path(@lesson), method: :put do |f| %>
    <div class="form-group">
      <%= label_tag :time_start %>
      <% formatted_date = @lesson.time_start.strftime("%F %I:%M") %>
      <%= formatted_date.to_s %>
      <div class='input-group date' id='datetimepicker2'>
        <%= text_field_tag 'lesson[time_start]', nil, class: 'form-control', :required => true, :data => 'DateTimePicker' %>
        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag :modifier, :class => 'btn btn-primary btn-mini' %>
    </div>
<% end %>

<script>
  console.log(new Date(<%=@lesson.time_start.to_f * 1000%>));
  $(document).ready(function () {
    $('#datetimepicker2').data("DateTimePicker").date(new Date(<%= @lesson.time_start.to_f * 1000 %>));
  });
</script>