= form_for @lesson, url: lesson_path(@lesson), method: :put do |f|
  .form-group
    = label_tag :time_start
    - formatted_date = @lesson.time_start.strftime("%F %I:%M")
    = formatted_date.to_s
    #datetimepicker2.input-group.date
      = text_field_tag 'lesson[time_start]', nil, class: 'form-control', :required => true, :data => 'DateTimePicker'
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
  .form-actions
    = submit_tag :modifier, :class => 'btn btn-primary btn-mini'
:javascript
  console.log(new Date(#{@lesson.time_start.to_f * 1000}));
  $(document).ready(function () {
    $('#datetimepicker2').data("DateTimePicker").date(new Date(#{@lesson.time_start.to_f * 1000}));
  });
