%table.collection-data{"aria-labelledby" => "page-title"}
  %thead
    %tr
      - collection_presenter.attribute_types.each do |attr_name, attr_type|
        %th.cell-label.cell-label #{attr_name}
        - if collection_presenter.ordered_by?(attr_name)
          %span.cell-label__sort-indicator.cell-label__sort-indicator #{collection_presenter.ordered_html_class(attr_name)}"}
          = svg_tag("administrate/sort_arrow.svg","sort_arrow",width: "13",height: "13") 
          %th{:colspan => "2", :scope => "col"}
  %tbody
    - resources.each do |resource|
      %tr.table__row{"data-url" => "#{polymorphic_path([namespace, resource])}", :role => "link", :tabindex => "0"}
        - collection_presenter.attributes_for(resource).each do |attribute|
          %td{:class => "cell-data cell-data--#{attribute.html_class}"}
            = render_field attribute
        %td= link_to(t("administrate.actions.edit"),[:edit, namespace, resource],class: "action-edit")                                   
        %td= link_to(t("administrate.actions.destroy"),[namespace, resource],class: "table__action--destroy",method: :delete,data: {confirm: t("administrate.actions.confirm")})                                                    |
      = render 'fields/mailboxer_conversation_field/show_current', :data => resource
