<h3> Paiement envoyé à <%= payment.lesson.student.firstname %></h3>

<div class="facture">
  <p> Nom  <%= payment.lesson.teacher.lastname %></p>
  <p> Prenom Student <%= payment.lesson.student.lastname %></p>
  <p> Debut <%= payment.lesson.time_start %></p>
  <p> Fin <%= payment.lesson.time_end %></p>
  <p> Statut du Cours <%= payment.lesson.status %></p>
  <p> Paiement reçu de <%= payment.price %>€</p>
  <% if can? :edit_postpayment, payment %>
      <%= link_to 'Modifier', lesson_edit_postpayment_path(payment.lesson_id, payment.id) %>
  <% end %>
  <hr>
</div>