<p><%= @payment.lesson.student.email%></p>
<p><%= @payment.lesson.topic_group.title %></p>

<%= form_for @payment, :url => url_for(controller: 'payments', action: 'send_edit_postpayment'), :method => :post do |f| %>
    <div class="form-group">
      <%= f.label :price, :class => 'control-label' %>
      <%= f.number_field :price, :class => 'form-control', :min => 0 %>
    </div>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary  btn-mini' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  payments_index_path, :class => 'btn btn-mini' %>
    </div>
<% end %>
