<h5> Paiement du à <%= payment.lesson.teacher.firstname %></h5>

<div class="facture">
  <p> Nom  <%= payment.lesson.student.lastname %></p>
  <p> Prenom Student <%= payment.lesson.student.lastname %></p>
  <p> Debut <%= payment.lesson.time_start %></p>
  <p> Fin <%= payment.lesson.time_end %></p>
  <p> Statut du Cours <%= payment.lesson.status %></p>
  <p> Prix de <%= payment.price %>€</p>
</div>