.facture
  %tr
    %td= payment.id
    %td
      = payment.lesson.teacher.lastname
      = payment.lesson.teacher.firstname
    %td
      = payment.lesson.student.lastname
      = payment.lesson.student.firstname
    %td= payment.lesson.topic_group.title
    %td= payment.lesson.time_start
    %td= payment.lesson.time_end
    %td= payment.status
    %td
      = payment.price
      €
    %td
      - if payment.lesson.student_id == current_user.id && payment.postpayment? && (payment.pending? || payment.blocked?)
        = link_to 'Payer Facture', lesson_payment_pay_postpayments_path(:lesson_id => payment.lesson_id, :payment_id => payment.id), :class => 'btn btn-success'
      - if payment.lesson.student_id == current_user.id && payment.lesson.time_start < DateTime.now && payment.lesson.time_start + 3.days > DateTime.now && payment.prepayment? && payment.pending?
        = button_to 'Paiement Direct', lesson_payerfacture_path(:lesson_id => payment.lesson_id, :payment_id => payment.id), :class => 'btn btn-success'
        = link_to 'Litige', lesson_bloquerpayment_path(payment.lesson), :method => :post , :class => 'btn btn-danger'
