#upcoming_lessons
  .row
    %h2.text-center
      #{lessons.count} cours à venir

- lessons.each do |lesson|
  .row
    .lesson-date.text-center
      .lesson-day #{lesson.time_start.day}
      .lesson-month #{lesson.time_start.strftime("%B")}
    .lesson-partner
      = image_tag lesson.other(current_user).avatar(:medium), class: 'lesson-partner-img'
    .lesson-details
      .pull-left
        %span.time-start
          = lesson.time_start.strftime("%H:%M")
        %span.text-pink
          = lesson.topic.title
        %br
        avec
        = link_to lesson.other(current_user).firstname, user_path(lesson.other(current_user)), class: 'text-pink'
        %br
        = lesson_duration(lesson.time_start, lesson.time_end)
      .pull-right.text-center
        = image_tag lesson.topic.pictotype('medium'), class: 'lesson-picto'
        %br
        = link_to 'voir détails', lessons_path, class: 'text-pink see-more'