#todo_list
  = render partial: 'todo_list', locals: {to_do_list: @to_do_list, user: @user}
#upcoming_lessons
  = render partial: 'upcoming_lessons', locals:{lessons: @upcoming_lessons}
#past_lessons
  = render partial: 'upcoming_lessons', locals:{lessons: @past_lessons}
#wallet_overview
  = render partial: 'wallet_overview', locals:{user: @user}
#bonus
  = render partial: 'bonus', locals:{user: @user}
#topics.section-choix
  = render partial: 'pages/topic_groups_list', locals:{topic_groups: @featured_topics}
#featured_teachers
  = render partial: 'featured_teachers', locals: {teachers: @featured_teachers}