<% if current_user.is_a? Teacher %>
    <p>Etat de votre postulation : <%= (current_user.postulance_accepted? ? 'Acceptée' : 'Refusée') %></p>
    <% unless current_user.postulance_accepted? %>
      <ul>
        <li>Interview :  <%= (current_user.postulation.interview_ok? ? 'Validée' : 'Non-validée') %></p></li>
        <li>Avatar :  <%= (current_user.postulation.avatar_ok? ? 'Validé' : 'Non-validé') %></p></li>
        <li>Informations générales :  <%= (current_user.postulation.gen_informations_ok? ? 'Validées' : 'Non-validées') %></p></li>
        <li>Tarifs :  <%= (current_user.postulation.advert_ok? ? 'Validés' : 'Non-validés') %></p></li>
      </ul>
    <% end %>

<% end %>

<h3>Cours prévus</h3>
<% if @future_lessons.empty? %>
    <p>Aucun cours de prévu</p>
<% else %>
    <% @future_lessons.each do |lesson| %>
        <%= render partial: 'dashboards/lesson', :locals => {:lesson => lesson} %>
    <% end %>
<% end %>

<h3>Cours en attente</h3>
<% if @pending_lessons.empty? %>
    <p>Aucun cours en attente</p>
<% else %>
    <% @pending_lessons.each do |lesson| %>
        <%= render partial: 'dashboards/lesson', :locals => {:lesson => lesson} %>
    <% end %>
<% end %>

<h3>Factures en attente</h3>
<% if @pending_postpayments.empty? %>
    <p>Aucune facture en attente</p>
<% else %>
    <% @pending_postpayments.each do |payment| %>
        <%= render partial: 'dashboards/payment', :locals => {:payment => payment} %>
    <% end %>
<% end %>


<h3>Paiements en attente</h3>
<% if @pending_prepayments.empty? %>
    <p>Aucun paiement en attente</p>
<% else %>
    <% @pending_prepayments.each do |payment| %>
        <%= render partial: 'dashboards/payment', :locals => {:payment => payment} %>
    <% end %>
<% end %>