.lesson-status
  -if lesson.active?
    - if lesson.review_needed?(current_user)
      = image_tag('lesson_cards/leave_review.png', class: 'lesson-card')
    - unless lesson.paid?
      - if lesson.is_teacher?(current_user)
        = image_tag('lesson_cards/wait.png', class: 'lesson-card')
      - else
        = image_tag('lesson_cards/unlock.png', class: 'lesson-card')
    - if lesson.upcoming?
      - if lesson.is_teacher?(current_user)
        = image_tag('lesson_cards/give_lesson.png', class: 'lesson-card')
      - else
        = image_tag('lesson_cards/take_lesson.png', class: 'lesson-card')
    - if lesson.pending?
      - if lesson.pending?(current_user)
        =image_tag('lesson_cards/answer.png', class: 'lesson-card')
      - else
        = image_tag('lesson_cards/wait.png', class: 'lesson-card')

-#.lesson-status
-#  .confirmation-status
-#    -case lesson_confirmation_status(lesson)
-#      - when 'created'
-#        %i.fa.fa-check.text-green
-#        %br
-#        %small confirmé
-#      - when 'pending'
-#        %i.fa.fa-question.text-purple
-#        %br
-#        %small en attente
-#      - when 'canceled'
-#        %i.fa.fa-times.text-grey
-#        %br
-#        %small annulé
-#  .payment-status
-#    -case lesson_payment_status(lesson)
-#      -when 'paid'
-#        %i.fa.fa-dollar.text-green
-#        %br
-#        %small payé
-#      -when 'prepaid'
-#        %i.fa.fa-dollar.text-grey
-#        %br
-#        %small pré-payé
-#      - when 'unpaid'
-#        %i.fa.fa-dollar.text-orange
-#        %br
-#        %small non payé