<div class="row">
  <h1>Gallery</h1>

  <input type="hidden" id="galleryID" value="<%= @gallery.id %>">
  <% params[:gallery]=@gallery %>

  <% if can? :read, @gallery %>

      <div class="form-actions">
        <% if can? :update, @gallery %>
            <%= link_to 'Edit gallery', edit_gallery_path(@gallery), :class => 'btn btn-mini' %>
        <% end %>
      </div>

      <h2>Pictures</h2>
      </div>
      <div class="row">
        <ul class="thumbnails files">
          <% unless @pictures.empty? %>
              <% @pictures.each do |pic| %>
                  <li class="span3" id="picture_<%= pic.id %>">
                    <div class="thumbnail">
                      <%= image_tag pic.image.url %>
                      <div class="caption">
                        <p style="text-align: center;">
                          <% if can? :destroy, pic %>

                              <%=
                                link_to "Delete picture", pic,
                                        :data => {:confirm => "Are you sure?"},
                                        :method => :delete
                              %>
                          <% end %>
                        </p>
                      </div>
                    </div>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </div>
  <% end %>