var pleaseWait = "<%= j render(:partial => 'please_wait') %>";
$(document).ready(function(){
  var newLesson = "<%= j render(:partial => 'new') %>";
  var modalHeader = "<%= j render partial: 'reservation_header', teacher: @teacher %>";
  $('#lesson-details').html(newLesson);
  $('#request-lesson .modal-header').html(modalHeader);


  findUserAdverts('<%= @teacher.id %>');

  function findUserAdverts(id){
    //datetimepicker
    $('#datetimepicker2').datetimepicker({
      locale: moment.locale(),
      format: "L LT",
      minDate: minStartTime()
    });

    //find user adverts
    $.ajax({
      url: '/adverts_user/' + id
    }).done(function (e) {
      var topic_group = '<div class="field">';
      topic_group += '<label for="lesson_topic_group">Topic group</label>';
      topic_group += '<select id="lesson_topic_group_id" name="lesson[topic_group_id]" class="form-control" required="required">';
      topic_group += '<option disabled selected value> -- sélecitonnez une option -- </option>'
      e.forEach(function (s) {
        var tg = s['topic']['topic_group'];
        topic_group += '<option value=' + tg['id'] + '>' + tg['title'] + '</option>'
      });
      topic_group += '</select>';
      topic_group += '</div>';
      $('#choices_lessons_topic_group').html(topic_group);

      var topic_choice = function () {
        var topic = '<div class="field" id="lesson_topic_id_field">';
        topic += '<label for="lesson_topic">Topic</label>';
        topic += '<select id="lesson_topic_id" name="lesson[topic_id]" class="form-control" required="required">';
        topic += '<option disabled selected value> -- sélecitonnez une sous-option -- </option>';
        e.forEach(function (s) {
          var tg = $('#lesson_topic_group_id option:selected').val();
          var t = s['topic'];
          if (tg == t['topic_group']['id']) {
            topic += '<option value=' + t['id'] + '>' + t['title'] + '</option>';
          }
        });
        topic += '</select>';
        topic += '</div>';
        $('#choices_lessons_topic').html(topic);
      };

      //premier cours gratuit
      $('#request-lesson').on('click', '.firstLessonFree', function () {
        calculPrice();
        updatePrix();
        if ($(this).is(":checked")){
          $("#date_lesson_hour").prop("disabled", true);
          $("#date_lesson_minute").prop("disabled", true);
          $('#date_lesson_hour option[value="00"]').prop('selected', true);
          $('#date_lesson_minute option[value="30"]').prop('selected', true);
        }else{
          $("#date_lesson_hour").removeAttr('disabled');
          $("#date_lesson_minute").removeAttr('disabled');
        }
      });

      var level_choice = function () {
        var levels = '<div class="field" id="lesson_level_id_field">';
        levels += '<label for="lesson_level">Level</label>';
        levels += '<select id="lesson_level_id" name="lesson[level_id]" class="form-control" required="required">';
        levels += '<option disabled selected value> -- sélecitonnez un niveau -- </option>';
        e.forEach(function (s) {
          var t = $('#lesson_topic_id option:selected').val();
          var lvl = s['advert_prices'];
          if (s['topic_id'] == t) {
            lvl.forEach(function (l) {
              levels += '<option data-price="' + l['price'] + '" value=' + l['level']['id'] + '>' + l['level']['fr'] + '<i id="price_level"> ' + l['price'] + '</i>' + '</option>'
            });
          }
        });
        levels += '</select>';
        levels += '</div>';
        $('#choices_lessons_level').append(levels);
      };
      var hour_choice = function () { //Enregistre l'heure souhaité pour le cour
        var end = $('#lesson_time_end');
        end.val($('#lesson_time_start').val());
        var formated_end = moment($('#lesson_time_end').val(), 'L LT');
        var hours = $('#date_lesson_hour option:selected').val();
        var minutes = $('#date_lesson_minute option:selected').val();
        var after = moment(formated_end).add(hours, 'hours');
        after = after.add(minutes, 'minutes').format('L LT');
        end.val(after);
        calculPrice();
      };

      var calculPrice = function() { //Calcul le prix
        if($('.firstLessonFree').prop("checked") == true){ //Si la lesson est une lessons gratuite (30mn)
          var end = $('#lesson_time_end');
          end.val($('#lesson_time_start').val());
          var formated_end = moment($('#lesson_time_end').val());
          var hours = $('#date_lesson_hour option:selected').val();
          var minutes = $('#date_lesson_minute option:selected').val();
          var after = moment(formated_end).add(hours, 'hours');
          after = after.add(minutes, 'minutes').format('L LT');
          end.val(after);
          var price = 0;
          var hours = 0;
          var minutes = 30;
          $('#lesson_price').val(0);
        }else{
          var price = $('#lesson_level_id option:selected').attr('data-price');
          var hours = $('#date_lesson_hour option:selected').val();
          var minutes = $('#date_lesson_minute option:selected').val();
          $('#lesson_price').val(price * hours + (price * (minutes / 60)));
        }
      }

      var updatePrix = function () { //Met a jout le prix en cas de modification par User
        p = $('#lesson_price').val();
        if(isNaN(p)){
          $('#price_shown').html('--');
        }
        else {
          $('#price_shown').html(p);
        }
      }

      $('#price').append('<input id="lesson_price" name="lesson[price]" type="hidden" value="0"/>');


      $(document.body).on('change', '#lesson_topic_group_id', function () {
        $('#lesson_topic_id_field').remove();
        topic_choice();
        updatePrix();
      });
      $(document.body).on('change', '#lesson_topic_id', function () {
        $('#lesson_level_id_field').remove();
        level_choice();
        updatePrix();
      });
      $(document.body).on('change', '#lesson_level_id', function () {
        calculPrice();
        updatePrix();
      });
      $(document.body).on('change', '#date_lesson_hour', function () {
        hour_choice();
        updatePrix();
      });
      $(document.body).on('change', '#date_lesson_minute', function () {
        hour_choice();
        updatePrix();
      });

      $('#datetimepicker2').on('dp.change', function(){
        hour_choice();
      });

      <% if @lesson.topic_group.nil? %>
        topic_choice();
        level_choice();
      <% else %>
        $('#lesson_topic_group_id option').each(function(){
          if($(this).val()== "<%= @lesson.topic_group.id %>"){
            $(this).prop('selected', true);
            topic_choice();
          }
        });
        $('#lesson_topic_id option').each(function(){
          if($(this).val()== "<%= @lesson.topic.id %>"){
            $(this).prop('selected', true);
            level_choice();
          }
        });
        $('#lesson_level_id option').each(function(){
          if($(this).val()== "<%= @lesson.level.id %>"){
            $(this).prop('selected', true);
            calculPrice();
            updatePrix();
          }
        });
      <% end %>

      updatePrix();
      hour_choice();

    });

    //fonctions de mignonification du processus
    function minStartTime(){
      if(<%= @lesson.time_start.nil? %>)
      {
        time = moment();
        minutes = time.minutes();
        quarter = Math.ceil(minutes / 15);
        return time.minutes(15*quarter);
      }
      else
      {
        return moment("<%= @lesson.time_start %>", 'L LT');
      }
    }

    $('#lesson-details form').submit(function(){
      $('#lesson-details').html(pleaseWait);
    });

  }

});