= render "layouts/header"
.container
  #flash-messages
    - flash.each do |key, value|
      %div{:class => "alert alert-#{key}"}
        = value
        = yield :top_content
.container-fluid.main-content
  -if current_user
    = render 'layouts/sidebar'
  = yield
- if (current_user)
  = subscribe_to "/chat"
  = subscribe_to "/notifications/"+current_user.id.to_s
= render "layouts/footer"

#myModIns.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title S'inscrire (C'est gratuit!)
      .modal-body
        %p= render "users/registrations/new.html.haml"
      .modal-footer
        .pasDeCompte{"data-dismiss" => "modal", "data-target" => "#myModCo", "data-toggle" => "modal"}
          %a{:href => "#myModCo"}
            Déjà inscrit?
            %br/
#myModCo.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Connexion
      .modal-body
        %p= render "users/sessions/new.html.haml"
      .modal-footer
        .pasDeCompte{"data-dismiss" => "modal", "data-target" => "#myModIns", "data-toggle" => "modal"}
          %a{:href => "#myModIns"}
            Pas encore membre?
            %br/
