<!DOCTYPE html>
<html>
<head>

  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <title>Qwerteach</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <%= yield(:head) %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'qwerteach', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
        <% if user_signed_in? %>
            <% @gallery=Gallery.where(:user => current_user).last %>
            <li><%= link_to 'Ma gallerie', gallery_path(@gallery) %></li>
            <li><%= link_to 'Mes annonces', adverts_path %></li>
            <li><%= link_to 'Your Conversations', conversations_path %></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Compte
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Voir compte', user_mangopay_index_wallet_path %></li>
                <li><%= link_to 'Editer compte', user_mangopay_edit_wallet_path %></li>
                <li><%= link_to 'Charger mon portefeuille', user_mangopay_direct_debit_path %></li>
                <li><%= link_to 'Voir mes transactions', user_mangopay_transactions_path %></li>
                <li><%= link_to 'Effectuer un transfert', user_mangopay_make_transfert_path %></li>
              </ul>
            </li>

            <li><%= link_to 'Rechercher un prof', users_path %></li>
            <% if current_user.admin? %>
                <li><%= link_to 'Administration', admin_root_path %></li>
            <% end %>
        <% end %>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
            <li class="round-image-50"><%= image_tag(current_user.avatar.url(:small)) %></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= current_user.email %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Editer mon profil', edit_user_registration_path %></li>
                <% @gallery=Gallery.where(:user => current_user).last %>
                <li><%= link_to 'Ma gallerie', gallery_path(@gallery) %></li>
                <li><%= link_to 'Mes annonces', adverts_path %></li>
                <li><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
            <li class="dropdown" id="notifications-dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-bell"></i> (<span id="unread-notifications"><%= current_user.mailbox.notifications.unread.count %></span>)
              </a>
              <ul class="dropdown-menu notifications" role="menu">
                <div class="notification-heading"><h4 class="menu-title">Notifications</h4><h4 class="menu-title pull-right">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                </div>
                <li class="divider"></li>
                <div class="notifications-wrapper" id="notifications-wrapper">
                  
                </div>
                <li class="divider"></li>
                <div class="notification-footer"><h4 class="menu-title"><a class="see-more-notifications">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></a></h4></div>
              </ul>
            </li>
            <li> <%= link_to edit_user_registration_path do %>
                  <i class="fa fa-cog"></i>
              <% end %>
            </li>
            <li> <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>
              <% end %>
            </li>

        <% else %>
            <li><%= link_to 'Log In', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
  <% end %>
</div>

<%= yield :top_content %>

<div class="container">
  <h1><%= yield :header %></h1>
  <%= yield %>
</div>
<% if(current_user) %>
  <%= subscribe_to "/chat" %>
  <%= subscribe_to "/notifications/"+current_user.id.to_s %>
  <script>
    PrivatePub.subscribe("/chat", function (data, channel) {
      var current_user_id = '#{current_user.try(:id)}';
      if (data.receiver_id == current_user_id) {
        chatBox.chatWith(data.conversation_id);
      }
      else {
        chatBox.chatWith(data.conversation_id);
      }
    });
  </script>

  <script>
  PrivatePub.subscribe("/notifications/<%= current_user.id.to_s %>", function(data, channel) {
    Notifications.numberOfUnreadNotifications();
    Notifications.sound.play();
  });
  </script>
<% end %>

</body>
</html>
